{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}
    {% if app.request.get('_route') == "brief_edit" %}
    Modifier le brief
    {% else %}
    Ajouter un brief
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/editor/css/tui-editor.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/tui-editor-contents.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/codemirror.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/github.css') }}"></link>
{% endblock %}

{% block body %}
    <h1>
        {% if app.request.get('_route') == "brief_edit" %}
        Modifier le brief
        {% else %}
        Ajouter un brief
        {% endif %}
    </h1>
    <hr>
    {{ form_start(form) }}
        <div class="my-2">
            {{ form_widget(form.title, {'attr': {'maxlength': 75}}) }}
        </div>
        <div class="my-2">
            {{ form_widget(form.link) }}
        </div>
        <textarea hidden id="content" name="content"></textarea>
        <div id="editSection"></div>
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}

{% block libraries %}
<script src="/tui-editor-Editor-full.js"></script>
<script src="/tui-editor-extScrollSync.min.js"></script>
{% endblock %}

{% block javascripts %}
<script>
var editor = new tui.Editor({
    el: document.querySelector('#editSection'),
    initialEditType: 'markdown',
    initialValue: '# Votre brief',
    previewStyle: 'vertical',
    height: '500px',
    exts: ['scrollSync'],
    language: 'fr_FR'
});

{% if app.request.get('_route') == "brief_edit" %}
    const content = `{{ brief.content }}`;
    editor.setValue(`${content}`);
{% endif %}

$('form').submit(function(){
    $('#content').val(editor.getValue());
});
</script>
{% endblock %}