{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}
    {% if app.request.get('_route') == "brief_edit" %}
    Modifier le brief
    {% else %}
    Ajouter un brief
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/editor/css/tui-editor.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/tui-editor-contents.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/codemirror.css') }}"></link>
<link rel="stylesheet" href="{{ asset('build/editor/css/github.css') }}"></link>
{% endblock %}

{% block body %}
    <h1>
        {% if app.request.get('_route') == "brief_edit" %}
        Modifier le brief
        {% else %}
        Ajouter un brief
        {% endif %}
    </h1>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <a href="{{ path('brief_all') }}">Toutes les briefs</a> &nbsp; / &nbsp;
        {% if app.request.get('_route') == "brief_edit" %}
        <a href="{{ path('brief_show',{'slug': brief.slug}) }}">{{ brief }}</a> &nbsp; / &nbsp;
        <span>Modifier</span>
        {% else %}
        <span>Ajouter</span>
        {% endif %}
    </p>
    <hr>
    {{ form_start(form) }}
        <div class="my-2">
            {{ form_widget(form.title, {'attr': {'maxlength': 75}}) }}
        </div>
        <div class="my-2">
            {{ form_widget(form.link) }}
        </div>
        <textarea hidden id="content" name="content"></textarea>
        <div id="editSection"></div>
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}

{% block modal %}{% endblock %}

{% block libraries %}
<script src="/tui-editor-Editor-full.js"></script>
<script src="/tui-editor-extScrollSync.min.js"></script>
{% endblock %}

{% block javascripts %}
<script>
var editor = new tui.Editor({
    el: document.querySelector('#editSection'),
    initialEditType: 'markdown',
    initialValue: '# Votre brief',
    previewStyle: 'vertical',
    height: '500px',
    exts: ['scrollSync'],
    language: 'fr_FR'
});

function unescape(s) {
    var re = /&(?:amp|#38|lt|#60|gt|#62|apos|#39|quot|#34);/g;
    var unescaped = {
        '&amp;': '&',
        '&#38;': '&',
        '&lt;': '<',
        '&#60;': '<',
        '&gt;': '>',
        '&#62;': '>',
        '&apos;': "'",
        '&#39;': "'",
        '&quot;': '"',
        '&#34;': '"'
    };
    return s.replace(re, function (m) {
        return unescaped[m];
    });
}

{% if app.request.get('_route') == "brief_edit" %}
    const content = unescape(`{{ content }}`);
    editor.setValue(`${content}`);
{% endif %}

$('form').submit(function(){
    $('#content').val(editor.getValue());
});
</script>
{% endblock %}