{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Test{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="flex wrap just-between align-center">
    <h1>Codes d'aide</h1>
    <a class="button-edit bhover add-task ml-2" href="{{path('code_add')}}" aria-label="Ajouter"><i class="fal fa-plus"></i></a>
</div>
<hr>
<div class="flex wrap just-center mx-2 my-1 help-all_cats">
    <span class="badge-link-active mx-2 my-1 px-3 shadow-small" data-badge="Tout">Tout</span>
    {% for language in languages %}
        <span class="badge-link-inactive mx-2 my-1 px-3 shadow-small" data-badge="{{ language }}">{{ language }}</span>
    {% endfor %}
</div>
<div class="flex wrap just-around help-all">
    {% for code in codes %}
    {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') or app.user == code.publisher %}
    {{ template.deleteConfirm(code.id,path('code_delete',{'id': code.id})) }}
    {% endif %}
    <div class="container-white shadow-small my-1 pl-3 help-link w-flex" data-badge="{% if code.language != null %}{{ code.language }}{% endif %}">

        <div class="flex just-between">
            <div>
            <a href="{{ path('code_show',{'id': code.id}) }}" class="rhover bold" aria-label="{{ code }}">
                {{ code }}
            </a>
            {% if code.language != null %}
            <span class="badge-link-active">{{ code.language }}</span>
            {% endif %}
            </div>
            {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') or app.user == code.publisher %}
            <div>
                <div class="subnav position-relative text-center px-1 text-greyl">
                    <i class="fas fa-ellipsis-v rhover"></i>
                    <div class="subnav-tooltip position-absolute text-center text-small shadow-small bg-white bold p-1">
                        <a class="subnav-link rhover edit-task" href="{{ path('code_edit',{'id':code.id}) }}">Modifier</a><br>
                        <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{code.id}}">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <span class="text-small text-grey">Posté par {{ code.publisher }} le 17/09/2019 à 5:32 }}</span>

    </div>
    {% endfor %}
</div>
{% endblock %}