{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}{{ code }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/libraries/markdown.css') }}"></link>
{% endblock %}

{% block body %}
    <h1 class="h3">{{ code }}</h1>
    {% if code.language is not null %}
    <span class="badge badge-pill badge-danger my-1">{{ code.language }}</span>
    {% endif %}
    <p class="text-small text-grey my-1">Posté le {{ code.publishedAt|date('d/m/Y à H:i') }} par {{ code.publisher }}</p>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <a href="{{ path('code_all') }}">Codes d'aide</a> &nbsp; / &nbsp;
        <span>{{ code|truncate(50) }}</span>
    </p>
    <hr>
    <div class="markdown-body container-white shadow-small p-4">
    {{ code.content|markdown }}
    </div>
{% endblock %}

{% block modal %}{% endblock %}