{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liens d'aide{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/help.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between">
        <h1>Liens d'aide</h1>
        {{ template.linkModal("modal","modal-button bg-grey button-circle text-grey",'<i class="fal fa-plus"></i>') }}
    </div>
    <hr>
    <div class="flex just-center mb-3 help-all_cats">
        <span class="badge-link-active mx-2" data-badge="Tout">Tout</span>
        {% for language in languages %}
            <span class="badge-link-inactive mx-2" data-badge="{{ language.label }}">{{ language.label }}</span>
        {% endfor %}
    </div>
    <div class="bg-grey rounded p-2 flexc help-all">
        {% for help in helps %}
        {{ template.deleteConfirm(help.id,path('help_delete',{'id': help.id})) }}
        <div class="bg-white rounded p-2 my-1 help-link reveal" data-badge="{% if help.language != null %}{{ help.language.label }}{% endif %}">

            <div class="flex just-between">
                <div>
                <a href="{{ help.link }}" target="_blank" class="link bold">{{ help.title }}</a>
                {% if help.language != null %}
                <span class="badge-link-active">{{ help.language.label }}</span>
                {% endif %}
                </div>
                {% if is_granted('ROLE_ADMIN') or app.user == help.publisher %}
                <div>
                    <div class="subnav">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip">
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{help.id}}">Supprimer</a>
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{promo.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <span>Posté par {{ help.publisher.fullname }} le {{ help.createdAt | date('d/m/Y à H:i') }}</span>

            {% if help.description != null %}
                <hr class="mt-1 mb-2">
                <a href="{{ help.link }}" target="_blank">{{ help.description }}</a>
            {% endif %}

        </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal" data-modalid="modal">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-50 mx-auto">
                <h2>Partager un lien</h2>
                <hr>
                {{ form_start(form) }}
                <div class="my-2">
                    {{ form_label(form.link) }}
                    {{ form_widget(form.link) }}
                </div>
                <div class="my-2">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="my-2">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="my-2">
                    {{ form_label(form.language) }}
                    {{ form_widget(form.language) }}
                </div>
                {{ template.confirm() }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
