{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liens d'aide{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between">
        <h1>Liens d'aide</h1>
        <div class="button-edit bhover add-task ml-2" data-toggle="modal" data-target="#modal-add-help" aria-label="Modifier"><i class="fal fa-plus"></i></div>
    </div>
    <hr>
    <div class="flex wrap just-center mx-2 my-1 help-all_cats">
        <span class="badge-link-active mx-2 my-1 px-3 shadow-small" data-badge="Tout">Tout</span>
        {% for language in languages %}
            <span class="badge-link-inactive mx-2 my-1 px-3 shadow-small" data-badge="{{ language.label }}">{{ language.label }}</span>
        {% endfor %}
    </div>
    <div class="flex wrap just-around help-all">
        {% for help in helps %}
        {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') or app.user == help.publisher %}
        {{ template.deleteConfirm(help.id,path('help_delete',{'id': help.id})) }}
        {% endif %}
        <div class="container-white shadow-small my-1 pl-3 help-link w-flex" data-badge="{% if help.language != null %}{{ help.language.label }}{% endif %}">

            <div class="flex just-between">
                <div>
                <a href="{{ help.link }}" target="_blank" class="rhover bold" rel="noreferrer" aria-label="{{ help }}">
                    {{ help }}
                </a>
                {% if help.language != null %}
                <span class="badge-link-active">{{ help.language.label }}</span>
                {% endif %}
                </div>
                {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') or app.user == help.publisher %}
                <div>
                    <div class="subnav position-relative text-center rhover px-1 text-grey">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip position-absolute text-center text-small shadow-small bg-white bold p-1">
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{help.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <span class="text-small text-grey">Posté par {{ help.publisher }} le {{ help.createdAt | date('d/m/Y à H:i') }}</span>

        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modal-add-help" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-4 pt-3 pb-0">
                {{ form_start(form) }}
                <div class="flex just-between align-center">
                    <h2>Partager un lien</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                <div class="my-2">
                    {{ form_label(form.link) }}
                    {{ form_widget(form.link) }}
                </div>
                <div class="my-2">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'maxlength': 75}}) }}
                </div>
                <div class="my-2">
                    {{ form_label(form.language) }}
                    {{ form_widget(form.language) }}
                </div>
                <div class="my-2">
                    {{ template.confirm() }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}
