<div class="bg-grey rounded p-2">
    <span class="bold">Propositions de stage</span>

    {% for training in trainingAdmin %}
        <div class="bg-white rounded flex just-around p-2 mb-1  training-course">
            <div>
                <i tabindex="0" class="fal fa-info-circle detail-icon" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
                title="Détail" data-content=
                'Envoyé le {{ training.sentAt|date("d/m/Y") }}<hr class="my-1">{{ training.project|default('<em>Pas de détail</em>') }}'>
                </i>
                {{ training.society }}
            </div>
            <div>{{ training.place }}</div>
            <div class="flex align-center"><span>{{ training.number }} stagiaire(s)</span></div>
            <div></div>
        </div>
    {% else %}
        <div class="bg-white rounded text-center mt-1 p-2">Aucun stage proposé</div>
    {% endfor %}

</div>