{% import 'macro.html.twig' as template %}

<div class="flex just-between">
    <h1>Liste des stages de <em>{{ user.firstname }} {{ user.lastname|upper }}</em></h1>
    {% if app.user == user %}
    <a href="{{ path('user_edit_training',{'id': user.id}) }}" class="bg-grey button-circle text-grey"><i class="fal fa-pen bold"></i></a>
    {% endif %}
</div>
<hr>
<div class="bg-grey rounded p-2">
    <span class="bold">Etat des stages</span>
    {% for training in user.trainingCourse %}
        {% if app.user == user %}
        {{ template.deleteConfirm(training.id,path('user_delete_training',{'id':user.id,'training_id':training.id})) }}
        {% endif %}
        <div class="bg-white rounded flex just-around p-2 mb-1  training-course">
            <div>
                <i tabindex="0" class="fal fa-info-circle detail-icon" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
                title="Détail" data-content=
                'Envoyé le {{ training.sentAt|date("d/m/Y") }}<hr class="my-1">{{ training.project|default('<em>Pas de détail</em>') }}'>
                </i>
                {{ training.society }}
            </div>
            <div>{{ training.place }}</div>
            <div class="flex align-center">
                <div class="status-{{ training.colorStatus }} mr-2"></div> <span>{{ training.status }}</span>
            </div>
            <div>
                {% if app.user == user %}
                <div>
                    <div class="subnav">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip">
                            <a href="{{ path('user_edit_training',{'id': user.id}) }}" class="subnav-link">Modifier</a><br>
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{training.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="bg-white rounded p-2 mt-1 text-center">
            Il n'y a aucune demande de stage.
            {% if app.user == user %}
            <br><a class="btn btn-outline-danger" href="{{ path('user_edit_training',{'id': user.id}) }}">Cliquez ici pour en ajouter</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
<hr>