{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des stages{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/training.css') }}">
{% endblock %}

{% block body %}
{{ template.deleteConfirm('delete-trainings', path('user_delete_all_trainings',{'slug': user.slug}), 'Toutes vos propositions de stage seront supprimées') }}
<div class="flex wrap just-between align-center">
    <h1>Liste des stages</h1>
    {% if app.user == user %}
    <a href="{{ path('user_edit_training',{'slug': user.slug}) }}" class="button-edit" aria-label="Modifier"><i class="fal fa-pen bold"></i></a>
    {% endif %}
</div>
<hr>
<div class="">
    <div class="w-100 text-right">
        <div class="mr-2 mb-2 text-small rhover">
            <a data-toggle="modal" data-target="#modal-delete-trainings">
                Tout supprimer <i class="fal fa-times-circle text-red"></i>
            </a>
        </div>
    </div>
    {% for training in user.trainingCourse %}
        <div class="container-white shadow-small mb-2">
            <div class="row user-training">
                <div class="col-md-5 col-sm-12">
                    <i class="fas fa-user-tie text-grey mr-1"></i>
                    {{ training.society }}
                </div>
                <div class="col-md-4 col-sm-12">
                    <i class="fas fa-map-marker mr-1 text-grey"></i>
                    {{ training.place }}
                </div>
                <div class="col-md-3 col-sm-12 flex align-center">
                    <div class="status-{{ training.colorStatus }} mr-2"></div><span>{{ training.status }}</span>
                </div>
            </div>
            <hr>
            <div class="my-2 text-justify">
                <em>{{ training.project|default('Pas de projet défini') }}</em>
            </div>
        </div>
    {% else %}
        <div class="py-3 text-center">
            <i class="fal fa-times-hexagon icon-md"></i><br>
            Il n'y a aucune demande de stage
        </div>
    {% endfor %}
</div>
{% endblock %}
