<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Plateforme en ligne pour les formateurs et apprenants de la formation Simplon.co - Développement Web et Web Mobile de Charleville-Mézières"/>
        <meta name="robots" content="noindex"/>
        <title>SimplonOnline - Se connecter</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel="stylesheet" href="{{ asset('build/css/main/base.css') }}">
    </head>
    <body>
        <div class="flex just-center align-center w-100 vh-100">
            <div class="container-white flexc shadow-small text-center py-3" style="width: 300px; height: 450px">
                <div class="text-center">
                    <img src="img/logo.jpeg" class="w-50" alt="Logo de Simplon.co"></img>
                </div>
                <div class="flexc just-center align-center h-100">
                    {% if error %}
                    <div class="text-red m-2 p-2 w-75 border shadow-small bold">
                        Une erreur est survenue. <br>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                    {% endif %}
                    <form action="{{ path('account_login') }}" method="post" class="w-100 px-4">
                        <div class="form-group">
                            <label for="email">Adresse mail</label>
                            <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse mail" value="{{ username }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe" required>
                        </div>
                        <input type="hidden" name="_target_path" value="{{ path('account_show') }}"/>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Se connecter</button>
                        </div>
                    </form>
                </div>
                    <a href="{{ path('home') }}" class="text-small text-grey bhover" aria-label="Page d'accueil">Page d'accueil</a>
            </div>
        </div>
    </body>
</html>
