{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liens d'aide{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/project/main.css') }}">
{% endblock %}

{% block body %}
    {{ template.deleteConfirm('delete-all',path('account_delete_all_notif'), 'Toutes vos notifications seront supprimées')}}
    <div class="flex wrap just-between align-center">
        <h1>Vos notifications</h1>
        <i data-toggle="modal" data-target="#modal-delete-all" class="fal fa-times-circle icon-md pointer rhover"></i>
    </div>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <span>Notifications</span>
    </p>
    <hr>
    <div class="container-white shadow-small">
        {% for unotif in app.user.notifReceived|reverse %}
            {% set notif = unotif.notification %}
            <div class="flex wrap align-center just-between my-n1">
                <div class="flex wrap align-center w-66 notif-content">
                    {% if unotif.seen %}
                    <div class="status-white mr-1"></div>
                    {% else %}
                    <div class="status-red mr-1"></div>
                    {% endif %}
                    {{ notif.title }}
                    <span class="text-small text-grey ml-2">
                        par {{ notif.sender.firstname|capitalize }} {{ notif.sender.lastname|slice(0,1)|upper }}.
                    </span>
                </div>
                <div class="notif-info">
                    <span class="text-small text-grey">{{ notif.interval }}</span>
                    {% if notif.type == 1 or notif.type == 2 %}
                    <a href="{{ path('project_show',{'slug': notif.target}) }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Voir le projet"><i class="far fa-arrow-circle-right"></i></a>
                    {% elseif notif.type == 3 %}
                    <a href="{{ path('account_show') }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Compétences"><i class="far fa-arrow-circle-right"></i></a>
                    {% else %}
                    <a href="{{ path('file_user_show') }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Fichiers"><i class="far fa-arrow-circle-right"></i></a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="text-center py-2">
                <i class="fal fa-times-hexagon icon-sm"></i><br>
                <span class="bold">Aucune notification</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block modal %}{% endblock %}