<hr>
<div class="w-50 mx-auto mb-4 hire-detail">
    <p class="text-center">
        <i class="fas fa-users-class icon-xl"></i>
    </p>
    <p class="text-center my-4">
        They have been using github from day one. They have learnt (pedagogy based on practical projects) markdown, terminal, HTML, CSS, Javascript, PHP, MySQL, but most of all, they have learnt to learn, to find their way with Google, to always try and find a solution for their team.
    </p>
    <p class="text-center my-4">
        For them, the internship is the opportunity to get a first experience as a coder, activating their new technical and soft skills. It also allows them to extend their learning by confronting what they have learnt at BeCode with the reality of business.
    </p>
</div>

<div class="text-center my-5">
    <h4 class="home-title"><span class="bg-white px-3">Nos promotions</span></h4>
    <h4 class="d-none home-title-mq">Nos promotions</h4>
</div>

<div class="flex wrap just-around my-5">
    {% for promo in promos | reverse %}
        <div class="header-main bg-white shadow">
            <div class="shadow-sm flex bg-body just-center align-center avatar-md"><i class="fas fa-users text-large"></i></div>
            <p class="text-medium mt-1 bold">
                {{ promo }}
            </p>
            <p class="text-center text-small text-grey">
                {{ promo.nickname|default('Aucun surnom') }}
            </p>
            <hr class="w-100 my-2">
            <p class="text-center" style="font-size: .95em">
                <span class="text-small bold">Formateurs</span><br>
                <em>
                    {% for former in promo.formers %}
                        {{ former }} &nbsp;<br>
                    {% else %}
                        Aucun<br>
                    {% endfor %}
                </em>
                <span class="text-small bold">Médiateurs</span><br>
                <em>
                    {% for mediator in promo.mediators %}
                        {{ mediator }} &nbsp;
                    {% else %}
                        Aucun<br>
                    {% endfor %}
                </em>
            </p>

            {% set startAt = promo.startAt|date('d/m/Y') %}
            {% set endAt   = promo.endAt|date('d/m/Y') %}
            {% if promo.startAt is null %}
            {% set startAt = '--/--/----' %}
            {% endif %}
            {% if promo.endAt is null %}
            {% set endAt = '--/--/----' %}
            {% endif %}
            <p class="text-grey text-small my-1">{{startAt}} &nbsp; {{endAt}}</p>

            {% if promo.current %}
            <div class="header-label">En cours</div>
            {% endif %}

            <div class="mt-auto w-100 text-center">
                <hr class="w-100 my-2">

                <p class="text-grey bhover promo-show" data-promo="#promo-{{promo.id}}" aria-label="Voir la promotion">
                    Voir la promotion
                </p>
            </div>
        </div>
    {% endfor %}
</div>

<hr class="mb-4">

{% for promo in promos %}
     <div class="promo-home" id="promo-{{promo.id}}">
        <div class="flex wrap just-around">
            {% for user in promo.users %}
                <div class="bg-white mb-3 py-3 w-33 promo-users shadow-small">
                    <a href="{{ path('home_user',{'slug': user.slug}) }}" aria-label="{{user}}">
                    <div class="flex flexc just-around text-center">
                        {# {{ template.img("/img/avatar/{{user.avatar}}", "avatar-sm mx-auto", "Avatar de {{user}}") }} #}
                        <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" alt="Avatar de {{user}}" class="avatar-sm mx-auto">
                        <span class="bold">{{ user }}</span>
                        <span>{{ user.email }}</span>
                        <span class="bold rhover my-2">Portfolio <i class="fal fa-arrow-circle-right"></i></span>
                    </div>
                    </a>
                </div>
            {% else %}
                <span>Il n'y a personne pour le moment ...</span>
            {% endfor %}
        </div>
    </div>
{% endfor %}