{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/skill.css">
<link rel="stylesheet" href="/css/training.css">
<link rel="stylesheet" href="/css/weather.css">
{% endblock %}

{% block body %}
{# <div class="home rounded">
    <div class="user-last-project ">
        <span class="bold">Dernier projet</span>
    </div>
    <div class="user-weather flexc ">
        <span class="bold">Météo du jour</span>
        <div class="h-100 flex just-center align-center">
            {{ app.user.weatherIcon|raw}}
        </div>
    </div>
    <div class="user-skill ">
        <span class="bold">Mes compétences</span>
        <div class="mt-2 rounded">
            {% for skill in app.user.userSkills %}
            {{ template.level(skill) }}
            {% else %}
            Pas de compétences
            {% endfor %}
        </div>
    </div>
    <div class="user-files flexc ">
        <span class="bold">Informations administratives</span>
        <div class="h-100 flex just-center align-center">
            <div class="flex align-center text-center">
                {% set filecount = app.user.importantFiles|length %}
                <p class="bold">
                {% if filecount == 0 %}
                Vous avez {{ filecount }} fichier important.<br>
                <i class="fal fa-folder-times icon-sm"></i>
                {% elseif filecount == 1 %}
                Vous avez <span class="text-red">{{ filecount }}</span> fichier important.<br>
                <a href="#">Accéder à mes fichiers</a><br>
                <a href="#"><i class="fas fa-folder icon-sm text-red"></i></a>
                {% else %}
                Vous avez <span class="text-red">{{ filecount }}</span> fichiers importants.<br>
                <i class="fas fa-folders icon-sm text-red"></i>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="home-date ">
        <span class="bold">Date du jour</span>
        <div class="date text-center">
        {{ date | date("d/m/Y") }}
        </div>
    </div>
    <div class="user-notif flexc ">
        <span class="bold">Mes notifications</span>
        <div class="h-100 flex just-center align-center">
            <i class="fal fa-bell home-icon text-red"></i>
        </div>
    </div>
    <div class="user-stage ">
        <span class="bold">Etat des stages</span>
        {% for training in app.user.trainingCourse|slice(0,2) %} #}
            {# {{ template.deleteConfirm(training.id,path('user_delete_training',{'id':app.user.id,'training_id':training.id})) }} #}
            {# <div class="bg-white rounded flex just-around p-2 my-1  training-course shadow">
                <div>
                    {{ training.society }}
                </div>
                <div>{{ training.place }}</div>
                <div class="flex align-center">
                    <div class="status-{{ training.colorStatus }} mr-2"></div> <span>{{ training.status }}</span>
                </div>
                <div>
                    {% if training.project == null %}
                    <i tabindex="0" class="fal fa-info-circle detail-icon" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
                    title="Détail" data-content=
                    'Envoyé le {{ training.sentAt|date("d/m/Y") }}<hr class="my-1"><em>Pas de détail</em>'>
                    </i>
                    {% else %}
                    <i tabindex="0" class="fal fa-info-circle detail-icon" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
                    title="Détail" data-content=
                    'Envoyé le {{ training.sentAt|date("d/m/Y") }}<hr class="my-1">{{ training.project }}'>
                    </i>
                    {% endif %}
                </div>
            </div>
        {% else %}
        <div class="bg-white rounded p-2 h-75 flex just-center align-center text-center">
            Il n'y a aucune demande de stage.<br>
        </div>
        {% endfor %}
        {% if app.user.trainingCourse is not empty %}
            <div class="text-center mt-3"><a href="#" class="text-grey">Voir tous ({{ app.user.trainingCourse|length}})</a></div>
        {% endif %}
    </div>
    <div class="home-weather ">
        <span class="bold">Météo du jour de la promo</span>
        {% for user in users %}
        <div class="flex just-between align-center users-weather">
            <span>{{ user.firstname }} {{ user.lastname|first}}.</span>
            {{ user.weatherIcon|raw }}
        </div>
        {% else %}
        {% endfor %}
    </div>
    <div class="home-projects ">
        <span class="bold">Derniers projets de la promo</span>
    </div>
    <div class="home-empty">
    </div>
</div> #}



















{% endblock %}
