{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/skill.css">
{% endblock %}

{% block body %}
<div class="home bg-grey rounded">
    <div class="user-last-project reveal">
        <span class="bold">Dernier projet</span>
    </div>
    <div class="user-weather flexc reveal">
        <span class="bold">Météo du jour</span>
        <div class="h-100 flex just-center align-center">
            <i class="fal fa-cloud-showers icon-lg"></i>
        </div>
    </div>
    <div class="user-skill reveal">
        <span class="bold">Mes compétences</span>
        <div class="mt-2 rounded">
            {% for skill in app.user.userSkills %}
            {{ template.level(skill) }}
            {% else %}
            Pas de compétences
            {% endfor %}
        </div>
    </div>
    <div class="user-files flexc reveal">
        <span class="bold">Informations administratives</span>
        <div class="h-100 flex just-center align-center">
            <div class="flex align-center text-center">
                {% set filecount = app.user.importantFiles|length %}
                <p class="bold">
                {% if filecount == 0 %}
                Vous avez {{ filecount }} fichier important.<br>
                <i class="fal fa-folder-times icon-sm"></i>
                {% elseif filecount == 1 %}
                Vous avez <span class="text-red">{{ filecount }}</span> fichier important.<br>
                <a href="#">Accéder à mes fichiers</a><br>
                <a href="#"><i class="fas fa-folder icon-sm text-red"></i></a>
                {% else %}
                Vous avez <span class="text-red">{{ filecount }}</span> fichiers importants.<br>
                <i class="fas fa-folders icon-sm text-red"></i>
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="home-date reveal">
        <span class="bold">Date du jour</span>
        <div class="date text-center">
        {{ date | date("d/m/Y") }}
        </div>
    </div>
    <div class="user-notif flexc reveal">
        <span class="bold">Mes notifications</span>
        <div class="h-100 flex just-center align-center">
            <i class="fal fa-bell home-icon text-red"></i>
        </div>
    </div>
    <div class="user-stage reveal">
        <span class="bold">Etat des stages</span>
    </div>
    <div class="home-weather reveal">
        <span class="bold">Météo du jour de la promo</span>
    </div>
    <div class="home-projects reveal">
        <span class="bold">Derniers projets de la promo</span>
    </div>
    <div class="home-empty">
    </div>
</div>
{% endblock %}
