{% import 'macro.html.twig' as template %}

{% extends 'home/index.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
    <div class="container-white flexc mx-auto text-center shadow-small pt-0 pb-4 mt-n5 user-title">
        <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" alt="Avatar de {{user}}" class="avatar-lg mx-auto">
        {# {{ template.img("/img/avatar/{{user.avatar}}", "avatar-lg mx-auto","Avatar de {{user}}") }} #}
        <span class="bold mt-2 h4">{{ user.firstname }} {{ user.lastname}}</span>
        <div class="flexc my-2 py-4">
            <span><b>Promotion :</b> {{ user.promotion }}</span>
            <span><b>Email :</b> {{ user.email }}</span>
            <span><b>Tél :</b> {{ user.tel }}</span>
            <span><b>Lieu :</b> {{ user.city }}</span>
        </div>
        <div class="flex just-center mt-4">
            <div class="rounded-circle mx-1 text-white portfolio-icon"><i class="fab fa-linkedin"></i></div>
            <div class="rounded-circle mx-1 text-white portfolio-icon"><i class="fab fa-github"></i></div>
            <div class="rounded-circle mx-1 text-white portfolio-icon"><i class="fab fa-facebook-f"></i></div>
            <div class="rounded-circle mx-1 text-white portfolio-icon"><i class="fab fa-twitter"></i></div>
            <div class="rounded-circle mx-1 text-white portfolio-icon"><i class="fas fa-globe"></i></div>
        </div>
    </div>
    <div class="text-center portfolio-title">
        <h4 class="home-title"><span class="bg-white px-3">Portfolio</span></h4>
    </div>
    <div class="flex wrap just-around portfolio-projects">
        {% set tmp = 0 %}
        {% for project in user.projects %}
            {% if project.completed %}
            {% set tmp = tmp + 1 %}
            <div class=" p-2 my-3 text-center project-content">
                <div class="flexc just-center bold">
                    {{ project }}
                </div>
                <p class="text-small text-grey mt-auto">
                    {% for language in project.languages %}
                        {{ language.label }}
                    {% endfor %}
                </p>
            </div>
            {% endif %}
        {% endfor %}
        {% if tmp == 0 %}
        <div class="text-center text-large">Aucun projet terminé</div>
        {% endif %}
    </div>
{% endblock %}
