<div class="position-fixed text-center text-grey bhover navleft-toggle rounded-circle shadow-small bg-white">
    <i class="fal fa-bars text-large"></i>
</div>
<div class="position-fixed container-white shadow-small navleft-container">
    <div class="mt-5 w-100">
        <div class="w-100 flex wrap all-weather h-75 overflow-auto">
        {{ render(controller(
            'App\\Controller\\BaseController::usersWeather'
        )) }}
        </div>
        <hr class="my-1">
        <div class="w-100 py-1 flex just-around text-center navleft-header">
            <a href="{{ path('project_all') }}" class="text-greyl bhover" aria-label="Tous les projets">
                <div class="rounded-circle bg-white shadow-small"><i class="far fa-list-ul"></i></div>
            </a>
            <a href="{{ path('promo_all') }}" class="text-greyl bhover" aria-label="Toutes les promotions">
                <div class="rounded-circle bg-white shadow-small"><i class="fal fa-users-class"></i></div>
            </a>
            <a href="{{ path('help_show') }}" class="text-greyl bhover" aria-label="Liste des aides">
                <div class="rounded-circle bg-white shadow-small"><i class="fal fa-link"></i></div>
            </a>
            <a href="{{ path('account_logout') }}" class="text-greyl bhover" aria-label="Se déconnecter">
                <div class="rounded-circle bg-white shadow-small"><i class="far fa-sign-out"></i></div>
            </a>
        </div>
    </div>
</div>