<div class="position-fixed flexc nav-left vh-100 py-2 px-3 shadow inactive bg-white">
    <div class="flexc content">
        <div class="text-center">
            <img src="/img/logo.jpeg" class="w-50"></img>
            <hr class="my-2">
        </div>
        <div class="bold">
            <a href="{{ path('account_logout') }}" class="text-red">Se deconnecter</a>
            <hr class="my-2">
        </div>
        <div class="bold">
            <a href="{{ path('project_all') }}" class="text-greyd">Tous les projets</a>
            <hr class="my-2">
        </div>
        <div class="bold">
            <a href="{{ path('promo_all') }}" class="text-greyd">Toutes les promotions</a>
            <hr class="my-2">
        </div>
        <div class="bold">
            <a href="{{ path('help_show') }}" class="text-greyd">Liens d'aide</a>
            <hr class="my-2">
        </div>
    </div>
    <div>
        <span class="bold">Météo du jour</span>
        <div class="flex wrap bg-white mt-2 all-weather">
        {{ render(controller(
            'App\\Controller\\BaseController::usersWeather'
        )) }}
        </div>
    </div>
</div>

<div class="position-fixed flex align-center vh-100 text-greyl pointer inactive nav-left-button">
    <div class="text-left bg-white">
        <img src="/img/navleft.png" class="w-auto">
    </div>
</div>