{% import 'macro.html.twig' as template %}

<div class="position-fixed user-notif d-block">
    <div class="container-white shadow-small flexc">
        {% if app.user.notifReceived is not empty %}
            <p class="ml-2 pl-1">
                <a href="{{ path('account_show_notif') }}" class="rhover">
                    Vous avez <span class="bold">{{ app.user.notifReceived|length }}</span> notifications
                </a>
            </p>
            <hr class="w-100 my-1">
            {% for unotif in app.user.notifReceived|slice(0,4)|reverse %}
                {% set notif = unotif.notification %}
                <div class="flex align-center just-between wrap my-n1">
                    <div class="flex align-center w-66 notif-content">
                        {% if unotif.seen %}
                        <div class="status-white mr-1"></div>
                        {% else %}
                        <div class="status-red mr-1"></div>
                        {% endif %}
                        {{ notif.title }}
                    </div>
                    <div class="notif-info">
                        <span class="text-small text-grey">{{ notif.interval }}</span>
                        {% if notif.type == 1 or notif.type == 2 %}
                        <a href="{{ path('project_show',{'slug': notif.target}) }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Voir le projet"><i class="far fa-arrow-circle-right"></i></a>
                        {% elseif notif.type == 3 %}
                        <a href="{{ path('account_show') }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Compétences"><i class="far fa-arrow-circle-right"></i></a>
                        {% else %}
                        <a href="{{ path('file_user_show') }}?seen={{unotif.id}}" class="btn text-grey bhover" aria-label="Fichiers"><i class="far fa-arrow-circle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center py-2">
                <i class="fal fa-times-hexagon icon-sm"></i><br>
                <span class="bold">Aucune notification</span>
            </div>
        {% endif %}
    </div>
</div>

<div class="position-fixed pointer user-subnav">
    <div class="flexc justify-content-end align-center">
        <a href="{{ path('user_show_projects',{'slug': app.user.slug}) }}" class="subnav-circle rounded-circle bg-red text-center bold my-1" aria-label="Projets"
        data-toggle="tooltip" data-placement="left" title="Mes projets">
            <i class="far fa-list-ul text-white"></i>
        </a>
        <a href="{{ path('file_user_show') }}" class="subnav-circle rounded-circle bg-red text-center bold my-1" aria-label="Fichiers"
        data-toggle="tooltip" data-placement="left" title="Mes fichiers">
            <i class="fal fa-envelope text-white"></i>
        </a>
        <a href="{{ path('account_show') }}#skills" class="subnav-circle rounded-circle bg-red text-center bold my-1" aria-label="Compétences"
        data-toggle="tooltip" data-placement="left" title="Mes compétences">
            <i class="fal fa-star text-white"></i>
        </a>
        <a href="{{ path('user_show_training') }}" class="subnav-circle rounded-circle bg-red text-center bold my-1" aria-label="Stages"
        data-toggle="tooltip" data-placement="left" title="Mes stages">
            <i class="fal fa-handshake text-white"></i>
        </a>
        <a href="{{ path('account_logout') }}" class="subnav-circle rounded-circle bg-red text-center bold my-1" aria-label="Se deconnecter"
        data-toggle="tooltip" data-placement="left" title="Déconnexion">
            <i class="fal fa-power-off text-white"></i>
        </a>
    </div>
</div>

<div class="position-fixed flex just-around align-center bg-white py-2 px-3 text-greyl user-nav">
    <i class="fas fa-bell pointer notif text-greyl {% if app.user.hasNotif %} active {% endif %}"></i>
    <img src="/img/dot.svg" class="pointer dots" alt="user nav">
    <a href="{{path('account_show') }}">
        {{ template.img("/img/avatar/"~app.user.avatar, "avatar-xs", "Avatar de"~app.user) }}
    </a>
</div>