{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liens d'aide{% endblock %}

{% block body %}
    {{ template.deleteConfirm('delete-all',path('account_delete_all_notif'), 'Toutes vos notifications seront supprimées')}}
    <div class="flex wrap just-between align-center">
        <h1>Vos notifications</h1>
        <i data-toggle="modal" data-target="#modal-delete-all" class="fal fa-times-circle icon-md pointer rhover"></i>
    </div>
    <hr>
    {% for unotif in app.user.notifReceived %}
        {% set notif = unotif.notification %}
        {{ template.deleteConfirm(unotif.id,path('account_delete_notif',{'id': unotif.id}))}}
        {% if unotif.seen == false %}
            <div class="rounded p-2 bg-red row flex align-center shadow-small text-white w-100 my-1 notifs">
                <div class="col-md-8 col-sm-12 col-12">
                    {{ notif.title }}
                    <span class="text-black ml-2">
                        par {{ notif.sender.firstname|capitalize }} {{ notif.sender.lastname|slice(0,1)|upper }}.
                    </span>
                </div>
                <div class="col-md-2 col-sm-9 col-12"><span class="text-small">{{ notif.interval }}</span></div>
                <div class="col-md-1 col-sm-2 col-6">
                {% if notif.type == 1 or notif.type == 2 %}
                <a href="{{ path('project_show',{'slug': notif.target}) }}?seen={{unotif.id}}" class="btn btn-light text-red" aria-label="Voir le projet">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% elseif notif.type == 3 %}
                <a href="{{ path('account_show') }}?seen={{unotif.id}}" class="btn btn-light text-red" aria-label="Voir">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% else %}
                <a href="{{ path('file_user_show') }}?seen={{unotif.id}}" class="btn btn-light text-red" aria-label="Voir les fichiers">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% endif %}
                </div>
                <div class="col-md-1 col-sm-1 col-6 text-right"><i data-toggle="modal" data-target="#modal-{{unotif.id}}" class="fal fa-times-circle pointer rhover"></i></div>
            </div>
        {% else %}
            <div class="container-white row flex align-center shadow-small w-100 my-1 notifs">
                <div class="col-md-8 col-sm-12 col-12">
                    {{ notif.title }}
                    <span class="text-grey ml-2">
                        par {{ notif.sender.firstname|capitalize }} {{ notif.sender.lastname|slice(0,1)|upper }}.
                    </span>
                </div>
                <div class="col-md-2 col-sm-9 col-12"><span class="text-small text-grey">{{ notif.interval }}</span></div>
                <div class="col-md-1 col-sm-2 col-6">
                {% if notif.type == 1 or notif.type == 2 %}
                <a href="{{ path('project_show',{'slug': notif.target}) }}?" class="btn button-red text-white" aria-label="Voir le projet">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% elseif notif.type == 3 %}
                <a href="{{ path('account_show') }}#skills" class="btn button-red text-white" aria-label="Voir">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% else %}
                <a href="{{ path('file_user_show') }}" class="btn button-red text-white" aria-label="Voir les fichiers">
                    <i class="far fa-arrow-circle-right"></i>
                </a>
                {% endif %}
                </div>
                <div class="col-md-1 col-sm-1 col-6 text-right"><i data-toggle="modal" data-target="#modal-{{unotif.id}}" class="fal fa-times-circle pointer"></i></div>
            </div>
        {% endif %}
    {% else %}
        <div class="text-center py-2">
            <i class="fal fa-times-hexagon icon-sm"></i><br>
            <span class="bold">Aucune notification</span>
        </div>
    {% endfor %}
{% endblock %}