{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des données{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/data.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between">
        <h1>Liste des données</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="button-edit add-task ml-2" data-toggle="modal" data-target="#modal-add-data"><i class="fal fa-plus"></i></div>
        {% endif %}
    </div>
    <hr>
    <div class="rounded p-2 flex wrap">
        {% for data in datas %}
        {{ template.deleteConfirm(data.id,path('data_delete',{'id':data.id})) }}
        <div class="data-list rounded  p-2 m-1">
            <a data-toggle="modal" data-target="#modal-{{data.id}}"><i class="fal fa-times-circle mr-2"></i>{{ data.label }}</a>
        </div>
        {% endfor %}
    </div>
    <hr>
    <span class="bold">Lien des données de la promo actuelle</span>
    <div class="rounded p-2 flex wrap">
        {% for user in users %}
        <div class="data-list rounded  p-2 m-1">
            <a href="{{ path('user_data',{'id':user.id}) }}"><i class="fal fa-eye mr-2"></i>{{ user.fullname }}</a>
        </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modal-add-data" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    {{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-4 pt-3 pb-0 mb-2">
                <div class="flex just-between align-center">
                    <h2>Ajouter une donnée</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                {{ form_label(form.label) }}
                {{ form_widget(form.label) }}
                {{ template.confirm() }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
