{% extends 'base.html.twig' %}

{% block title %}Données de {{ user }}{% endblock %}

{% block body %}
    <h1>Mes données</h1>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <span>Mes données</span>
    </p>
    <hr>
    {% for udata in user.userData %}
        <div class="container-white row flex align-center mx-0 my-1 py-3 shadow-small">
            <div class="col-md-6 bold">
                {{ udata.data.label }}
            </div>
            <div class="col-md-5 data-link-{{udata.id}}">
                {% if udata.content != null %}
                {{ udata.content }}
                {% else %}
                <em>Pas de données</em>
                {% endif %}
            </div>
            <div class="col-md-1">
                <i class="fal fa-file-signature bhover text-grey copyToClipboard"
                data-toggle="tooltip" data-placement="top" data-link-id="{{udata.id}}" title="Copier la donnée"></i>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block modal %}{% endblock %}