{% import 'macro.html.twig' as template %}

<div class="container-white h-100 form-files">
    <p class="bold">Envoyer un fichier</p>
    <div>
        {{ form_start(form) }}
            {{ form_errors(form.name) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': { 'maxlength' : 60 } }) }}
            <hr>
            {{ form_label(form.receiver) }}
            {{ form_widget(form.receiver, {'attr': {
                'class': 'files-selected selectpicker',
                'title': 'Choisir les utilisateurs',
                'data-live-search': 'true',
                'multiple': '',
                'data-selected-text-format': 'count > 2',
                'data-style': 'bg-grey',
                'data-size': '6'
            }}) }}
            <hr>
            {{ form_widget(form.name) }}
            <div class="custom-control custom-switch text-center mt-4">
            {{ form_widget(form.important) }}
            </div>
            {{ template.confirm()}}
        {{ form_end(form) }}
    </div>
</div>