{% import 'macro.html.twig' as template %}

<div class="flex just-between">
    <span class="bold">Mes fichiers envoyés</span>
    {% if sending is not empty %}
        <div class="files-delete ml-2" data-toggle="modal" data-target="#modal-delete-all">Tout supprimer <i class="fal fa-times-circle"></i></div>
    {% endif %}
</div>

{% for usend in sending | reverse %}
    {% set file = usend.files %}
    {{ template.deleteConfirm(file.id, path('file_delete',{'id': file.id}), "Ce fichier sera supprimé définitivement et ne sera plus accessible par les autres utilisateurs.") }}

    <div class="file-content rounded my-2 p-2 reveal">
        <div class="file-state"></div>
        <div class="file-info">
            <p class="bold">{{ file.title }}</p>
            <p class="file-user">
                <em>Envoyé
                {% if usend.sender != null %}
                à {{ usend.receiver.firstname }} {{ usend.receiver.lastname | upper }}
                {% endif %}
                le {{ usend.dateSend | date('d/m/Y à H:i') }}</em>
            </p>
        </div>
        <div>
            <div class="subnav">
                <i class="fas fa-ellipsis-v"></i>
                <div class="subnav-tooltip">
                    <a href="{{ path('file_download',{'id': file.id}) }}" class="subnav-link">Télécharger</a><br>
                    <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{file.id}}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="text-grey flex just-center align-center text-center no-file">
        <p class="my-5">
            <i class="far fa-times-circle"></i><br>
            Aucun fichier envoyé
        </p>
    </div>
{% endfor %}

{{ template.deleteConfirm('modal-delete-all',path('file_delete_all'),'Ces fichiers seront supprimés définitivement et ne seront plus accessibles par les autres utilisateurs.') }}