{% import 'macro.html.twig' as template %}

<div class="flex just-between align-baseline pt-1">
    <span class="bold ml-1">Mes fichiers envoyés</span>
    {% if sending is not empty %}
        <div class="rhover text-small ml-2" data-toggle="modal" data-target="#modal-delete-all">
            Tout supprimer <i class="fal fa-times-circle text-red"></i>
        </div>
    {% endif %}
</div>

{% for usend in sending | reverse %}
    {% set file = usend.files %}
    {{ template.deleteConfirm(file.id, path('file_delete',{'id': file.id}), "Ce fichier sera supprimé définitivement et ne sera plus accessible par les autres utilisateurs.") }}

    <div class="container-white flex just-center align-center p-3 my-2">
        <div class="file-info">
            <p class="bold">{{ file.title }}</p>
            <p class="text-small">
                <em>Envoyé
                {% if usend.sender != null %}
                à {{ usend.receiver.firstname }} {{ usend.receiver.lastname | upper }}
                {% endif %}
                le {{ usend.dateSend | date('d/m/Y à H:i') }}</em>
            </p>
        </div>
        <div>
            <div class="subnav position-relative text-center rhover px-1 text-greyl">
                <i class="fas fa-ellipsis-v"></i>
                <div class="subnav-tooltip position-absolute text-center text-small shadow-small bg-white bold p-1">
                    <a href="{{ path('file_download',{'id': file.id}) }}" class="subnav-link rhover" aria-label="Télécharger">Télécharger</a><br>
                    <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{file.id}}">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="flex just-center align-center text-center text-large text-grey h-100 my-5">
        <p>
            <i class="fal fa-folder-open text-xlarge"></i><br>
            Aucun fichier envoyé
        </p>
    </div>
{% endfor %}

{{ template.deleteConfirm('delete-all',path('file_delete_all'),'Ces fichiers seront supprimés définitivement et ne seront plus accessibles par les autres utilisateurs.') }}