{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des stages{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/training.css') }}">
{% endblock %}

{% block body %}
  <h1>Liste des stages</h1>
  <span>Promotion actuelle</span>
  <hr>
  <div class="flex wrap just-around">
    {% for user in users %}
      <div class="container-white shadow-small flexc my-1 w-33 users-trainings">
        <p class="text-center bold">{{ user }}</p>
        <div class="flexc my-2" style="height: 200px; overflow: auto;">
          {% for training in user.trainingCourse %}
            <span><i class="fas fa-user-tie"></i> {{ training.society}}</span>
            <span><i class="fas fa-map-marker-alt"></i> {{ training.place }} </span>
            <div class="flex align-center"><div class="status-{{ training.colorStatus }} mr-2"></div><span>{{ training.status }}</span></div>
            {% if training.project is not null %}
            <p class="text-center"><i class="fal fa-info-circle rhover project-info"></i></p>
            <p class="text-justify text-grey project-info-container">{{ training.project }}
            </p>{% endif %}
            <hr class="my-1 w-100">
          {% else %}
            <div class="flex just-center align-center text-center text-grey h-100">
              <p>
                  <i class="fal fa-times-hexagon text-xlarge"></i><br>
                  Aucune demande de stage
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}