{% extends 'base_admin.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des simploniens{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
{{ template.checkMessage(form) }}
<div class="px-1 my-4">
    <div class="flex wrap just-between align-center">
        <h1>Liste des utilisateurs</h1>
        <div class="flex align-center">
            <div class="btn-group shadow-small mr-4">
                <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn bg-white dropdown-toggle dropdown-toggle-split px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu shadow-small border-0" style="max-height: 300px; overflow: auto;">
                        <a href="{{ path('admin_all_users',{'slug': 'all'}) }}" class="dropdown-item">Tout</a>
                        {% for promotion in promotions %}
                        <a href="{{ path('admin_all_users',{'slug': promotion.slug}) }}" class="dropdown-item">
                            {{ promotion.label }}
                        </a>
                        {% endfor %}
                        <a href="{{ path('admin_all_users',{'slug': 'other'}) }}" class="dropdown-item">Autres</a>
                    </div>
                </div>
                <span class="btn bg-white">
                    {% if promo is not empty and promo is not null %}
                    {{ promo.label }}
                    {% else %}
                    Tout
                    {% endif %}
                </span>
            </div>
            {{ template.add() }}
        </div>
    </div>
    <hr>
    <table class="table table-hover text-center bg-white shadow-small admin-user">
        <thead>
            <tr>
                <th scope="col">Actif</th>
                <th scope="col">Nom - Prénom</th>
                <th scope="col">Stages</th>
                <th scope="col">Projets</th>
                <th scope="col">Taches</th>
                <th scope="col">Compétences</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="admin-all">
            {% for user in users %}
            {{ template.deleteConfirm(user.id,path('user_delete',{'slug':user.slug})) }}
            <tr>
                <td class="flex just-center">
                    <input class="switch_base active-user" data-userurl="{{path('admin_user_active',{'slug':user.slug}) }}"
                    type="checkbox" {% if user.isActive %} checked {% endif %}>
                </td>
                <td class="text-left">{{ user.fullname }}</td>
                <td>
                    {% if user.trainingCourse is not empty %}
                        {{ user.trainingCourse|length }}</td>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if user.projects is not empty %}
                        {{ user.projects|length }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                    <td>
                    {% if user.tasks is not empty %}
                        {{ user.tasks|length }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    <div class="flex just-center">
                    {% for uskill in user.userSkills %}
                        <div
                        class="level-xs level-{{ uskill.level }} m-1" data-toggle="tooltip"
                        data-placement="top" title="{{ uskill.skill.label }}">
                        </div>
                    {% endfor %}
                    </div>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Modifier
                            </button>
                            <div class="dropdown-menu">
                            <a class="dropdown-item rhover" href="{{ path('user_edit_skills',{'slug': user.slug }) }}">Compétences</a>
                            <a class="dropdown-item rhover" href="{{ path('user_data_edit',{'slug': user.slug}) }}">Données</a>
                            <a class="dropdown-item rhover" href="{{ path('admin_user_edit',{'slug': user.slug}) }}">Compte</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{user.id}}"><i class="fal fa-times-circle"></i></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="w-100 admin-user-responsive">
    {% for user in users %}
        <div class="container-white row mx-0 my-1 shadow-small">
            <div class="col-sm-4 col-6">{{ user.fullname }}</div>
            <div class="col-sm-5 flex just-center admin-uskill">
                {% for uskill in user.userSkills %}
                    <div
                    class="level-xs level-{{ uskill.level }} m-1" data-toggle="tooltip"
                    data-placement="top" title="{{ uskill.skill.label }}">
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 col-6">
                <div class="btn-group" role="group">
                    <div class="btn-group" role="group">
                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Modifier
                        </button>
                        <div class="dropdown-menu">
                        <a class="dropdown-item rhover" href="{{ path('user_edit_skills',{'slug': user.slug }) }}">Compétences</a>
                        <a class="dropdown-item rhover" href="{{ path('user_data_edit',{'slug': user.slug}) }}">Données</a>
                        <a class="dropdown-item rhover" href="{{ path('admin_user_edit',{'slug': user.slug}) }}">Compte</a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{user.id}}"><i class="fal fa-times-circle"></i></button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block modalTitle %}Ajouter un utilisateur{% endblock %}
{% block modalBody %}
    {{ form_start(form) }}
        <div class="row p-2">
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.firstname) }}<br>
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.lastname) }}<br>
                {{ form_widget(form.lastname) }}
            </div>
            <div class="col-12 my-2 container-white shadow-small">
                {{ form_label(form.email) }}<br>
                {{ form_widget(form.email) }}
            </div>
            <div class="col-12 my-2 container-white shadow-small">
                {{ form_label(form.password) }}<br>
                {{ form_widget(form.password) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.promotion) }}<br>
                {{ form_widget(form.promotion) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.userRoles) }}<br>
                {{ form_widget(form.userRoles) }}
            </div>
        </div>
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}
