{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Autres{% endblock %}

{% block body %}
  <div class="flex just-between">
    <h1>Autres</h1>
    {{ template.add() }}
  </div>
  <hr>
  <div class="text-center">
    <p class="h5 my-3 bold">Autres liens</p>
    <div class="flex wrap align-center just-around other-link">
      <a href="{{ path('brief_all') }}" class="rhover" aria-label="Brief">
        <div class="container-white shadow-small m-1">
            <i class="fal fa-file-alt text-large"></i><br>
            <span>Liste des briefs</span>
        </div>
      </a>
      <a href="{{ path('code_all') }}" class="rhover" aria-label="Code">
        <div class="container-white shadow-small m-1">
            <i class="fal fa-file-code text-large"></i><br>
            <span>Liste des codes</span>
        </div>
      </a>
      <a href="{{ path('user_game') }}" class="rhover" aria-label="Jeux">
        <div class="container-white shadow-small m-1">
            <i class="fal fa-gamepad text-large"></i><br>
            <span>Jeux de Simplon</span>
        </div>
      </a>
      <a href="{{ path('admin_all_users_active') }}" class="rhover" aria-label="Utilisateurs actifs">
        <div class="container-white shadow-small m-1">
          <i class="fal fa-user-friends text-large"></i><br>
          <span>Utilisateurs actifs</span>
        </div>
      </a>
      <a class="rhover" data-toggle="modal" data-target="#modal-users" aria-label="Mot de passe utilisateurs">
        <div class="container-white shadow-small m-1">
          <i class="fal fa-users-cog text-large"></i><br>
          <span>Modifier mot de passe</span>
        </div>
      </a>
      <a href="{{ path('account_password') }}" class="rhover" aria-label="Mot de passe">
        <div class="container-white shadow-small m-1">
          <i class="fal fa-lock text-large"></i><br>
          <span>Mon mot de passe</span>
        </div>
      </a>
      <a href="{{ path('account_edit') }}" class="rhover" aria-label="Modifier mon compte">
        <div class="container-white shadow-small m-1">
          <i class="fal fa-user-edit text-large"></i><br>
          <span>Mon compte</span>
        </div>
      </a>
    </div>
  </div>
  <div>
    <p class="text-center h5 my-3 bold">Données</p>
    <div class="flex wrap just-around">
      {% for data in datas %}
        {{ template.deleteConfirm('data-'~data.id,path('admin_data_delete',{'id':data.id})) }}
        {{ template.modal('edit-data-'~data.id)}}
        <div class="container-white shadow-small w-flex flexc text-center my-1">
          <span class="bold">{{ data.label }}</span>
          <div class="text-center mt-auto">
              <button class="btn text-grey bhover shadow-small w-33 edit-data"
              data-url="{{path('admin_data_edit',{'id': data.id}) }}" data-toggle="modal" data-target="#edit-data-{{data.id}}">
                  Modifier
              </button>
              <button type="button" class="btn text-grey rhover shadow-small" data-toggle="modal" data-target="#modal-data-{{data.id}}" aria-label="Supprimer"><i class="fal fa-times-circle"></i></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div>
    <p class="text-center h5 my-3 bold">Langages</p>
    <div class="flex wrap just-center">
      {% for language in languages %}
        {{ template.deleteConfirm('language-'~language.id,path('admin_language_delete',{'id':language.id})) }}
        <div class="outline-black p-2 m-1 rounded rhover" data-toggle="modal" data-target="#modal-language-{{language.id}}">
          {{ language.label }}
          <i class="fal fa-times-circle"></i>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div>
    <p class="text-center h5 my-3 bold">Roles</p>
    <div class="flex wrap just-around">
      {% for role in roles %}
        {% for urole in role.userroles %}
          {{ template.deleteConfirm('role-'~role.id,path('admin_role_remove',{'id':role.id, 'id_role': urole.id})) }}
          <div class="container-white shadow-small bold rhover" data-toggle="modal" data-target="#modal-role-{{role.id}}">
            <span>{{ role }}</span> - <span class="text-red">{{ urole }}</span>
            <i class="fal fa-times-circle ml-2"></i>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="modal fade" id="modal-users" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="flex just-between align-center">
                    <h2>Choisir un utilisateur</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                <div class="modal-main">
                  <div class="row no-gutters">
                    {% for user in users %}
                      <div class="col-md-4 col-sm-6 col-xs-12 my-1">
                        <a href="{{ path('admin_user_password', {'slug': user.slug}) }}" class="text-grey bhover" aria-label="Mot de passe">
                          {{ user }}
                        </a>
                      </div>
                    {% else %}
                      <div class="col-12 text-center bold">Aucun utilisateur</div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block modalBody %}
<div class="my-2">
  <h3>Ajouter une donnée</h3>
  {{ form_start(formData, {'attr': {'name' : 'language'}}) }}
    {{ form_label(formData.label) }}
    {{ form_widget(formData.label) }}
    {{ template.confirm() }}
  {{ form_end(formData) }}
</div>
<hr>
<div class="my-2">
  <h3>Ajouter un langage</h3>
  {{ form_start(formLanguage) }}
    {{ form_label(formLanguage.label) }}
    {{ form_widget(formLanguage.label) }}
    {{ template.confirm() }}
  {{ form_end(formLanguage) }}
</div>
{% endblock %}