{% extends 'base_admin.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des aides{% endblock %}

{% block body %}
{{ template.checkMessage(form) }}
<div class="container px-5 my-4">
  <div class="flex wrap just-between align-center">
      <h1 class="w-75">Liste des aides</h1>
      {{ template.add() }}
  </div>
  <hr>
  <table class="table table-hover text-center bg-white shadow-small admin-help">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Lien</th>
        <th scope="col">Langages</th>
        <th scope="col">Par</th>
        <th scope="col">Envoyé le</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for help in helps %}
      {{ template.deleteConfirm(help.id,path('help_delete',{'id':help.id})) }}
      {{ template.modal('edit-help-'~help.id)}}
      <tr>
        <th scope="row">{{ help.id }}</th>
        <td>{{ help.title|truncate(35) }}</td>
        <td><a href="{{ help.link }}" target="_blank"><i class="fal fa-link rhover"></i></a></td>
        <td>{{ help.language }}</td>
        <td>{{ help.publisher.fullname }}</td>
        <td>{{ help.interval }}</td>
        <td>
          <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info edit-help" data-url="{{path('admin_help_edit',{'id': help.id}) }}" data-toggle="modal" data-target="#edit-help-{{help.id}}">
                Modifier
                </button>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{help.id}}"><i class="fal fa-times-circle"></i></button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="w-100 admin-help-responsive">
    {% for help in helps %}
        <div class="container-white row flex align-center mx-0 my-1 shadow-small">
            <div class="col-7 col-sm-6">{{ help.title }}</div>
            <div class="col-sm-2 flex just-center admin-help-language">
                {{ help.language }}
            </div>
            <div class="col-5 col-sm-4">
              <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info edit-help" data-url="{{path('admin_help_edit',{'id': help.id}) }}" data-toggle="modal" data-target="#edit-help-{{help.id}}">
                    Modifier
                    </button>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{help.id}}"><i class="fal fa-times-circle"></i></button>
              </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block modalTitle %}Partager un lien{% endblock %}
{% block modalBody %}
  {{ form_start(form) }}
    <div class="my-2">
        {{ form_label(form.link) }}
        {{ form_widget(form.link) }}
    </div>
    <div class="my-2">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="my-2">
        {{ form_label(form.language) }}
        {{ form_widget(form.language) }}
    </div>
    {{ template.confirm() }}
  {{ form_end(form) }}
{% endblock %}
