{% extends 'base_admin.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des corrections{% endblock %}

{% block body %}
<div class="container px-5 my-4">
  <div class="flex wrap just-between align-center">
    <h1 class="w-75">Liste des corrections</h1>
    {{ template.add() }}
  </div>
  <hr>
  <table class="table table-hover text-center bg-white shadow-small admin-correction">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="w-50">Contenu</th>
        <th scope="col" class="w-25">Projet</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for correction in pagination.data %}
      {{ template.deleteConfirm(correction.id,path('admin_correction_delete',{'id':correction.id})) }}
      {{ template.modal('edit-correction-'~correction.id)}}
      <tr>
        <th scope="row">{{ correction.id }}</th>
        <td>{{ correction.content }}</td>
        <td><a href="{{ path('project_show',{'slug':correction.project.slug}) }}" target="_blank">{{ correction.project.title|truncate(35) }}</a></td>
        <td>
          <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info edit-correction" data-url="{{path('admin_correction_edit',{'id': correction.id}) }}" data-toggle="modal" data-target="#edit-correction-{{correction.id}}">
                Modifier
                </button>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{correction.id}}"><i class="fal fa-times-circle"></i></button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="w-100 admin-correction-responsive">
    {% for correction in pagination.data %}
        <div class="container-white row flex align-center mx-0 my-1 shadow-small">
            <div class="col-sm-8 text-justify">{{ correction.content }}</div>
            <div class="col-sm-4">
              <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info edit-correction" data-url="{{path('admin_correction_edit',{'id': correction.id}) }}" data-toggle="modal" data-target="#edit-correction-{{correction.id}}">
                    Modifier
                    </button>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{correction.id}}"><i class="fal fa-times-circle"></i></button>
              </div>
            </div>
        </div>
    {% endfor %}
</div>

{{ pagination.render }}

{% endblock %}

{% block modalTitle %}Corriger un projet{% endblock %}
{% block modalBody %}
  {{ form_start(form) }}
    <div class="my-2">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'rows': '8'}}) }}
    </div>
    <div class="my-2">
        {{ form_widget(form.project) }}
    </div>
    {{ template.confirm() }}
  {{ form_end(form) }}
{% endblock %}
