{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des roles{% endblock %}

{% block body %}
    <div class="flex wrap just-between align-center">
        <h1 class="w-75">Liste des roles</h1>
    </div>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <span>Gestion des roles</span>
    </p>
    <hr>
    <div class="container-white shadow-small">
        <div class="bg-white row no-gutters p-2 text-center sticky-top" style="border-bottom: 2px solid #dadada;z-index: 1;">
            <div class="col-md-6 col-sm-4 col-4"></div>
            <div class="col-md-2 col-sm-3 col-4 pr-2">Formateur</div>
            <div class="col-md-2 col-sm-3 col-4 pr-2">Médiateur</div>
            <div class="col-md-2 col-sm-2 role-promo">Promotion</div>
        </div>
        {% for user in users %}
            <div class="row no-gutters p-2 role-list">
                <div class="col-md-6 col-sm-4 col-4">{{user}}</div>
                <div class="col-md-2 col-sm-3 col-4 flex just-center align-center">
                    {% if former is not null %}
                    <input class="switch_base active-role mr-3"
                    data-add="{{path('admin_role_add',{'id':user.id,'id_role': former.id}) }}"
                    data-remove="{{ path('admin_role_remove',{'id':user.id,'id_role': former.id})}}"
                    type="checkbox" {% if user.checkRole('ROLE_FORMER') %} checked {% endif %}>
                    {% else %}
                    Erreur
                    {% endif %}
                </div>
                <div class="col-md-2 col-sm-3 col-4 flex just-center align-center">
                    {% if mediateur is not null %}
                    <input class="switch_base active-role mr-3"
                    data-add="{{path('admin_role_add',{'id':user.id,'id_role': mediateur.id}) }}"
                    data-remove="{{ path('admin_role_remove',{'id':user.id,'id_role': mediateur.id})}}"
                    type="checkbox" {% if user.checkRole('ROLE_MEDIATEUR') %} checked {% endif %}>
                    {% else %}
                    Erreur
                    {% endif %}
                </div>
                <div class="col-md-2 col-sm-2 role-promo text-center">{{user.promotion|default('x')}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}