{% extends 'base_admin.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des compétences{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/skill.css">
{% endblock %}

{% block body %}
<div class="px-1 my-4">
    {{ template.checkMessage(form) }}
    <div class="flex wrap just-between align-center">
        <h1 class=-"w-75">Liste des compétences</h1>
        {{ template.add() }}
    </div>
    <hr>
    <table class="table table-hover text-center bg-white shadow-small">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Label + description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in skills %}
            {{ template.deleteConfirm(skill.id,path('skill_delete',{'id':skill.id})) }}
            {{ template.modal('edit-skill-'~skill.id)}}
            <tr>
                <th scope="row">{{ skill.id }}</th>
                <td>
                    <span class="bold">{{ skill.label }}</span><br>
                    {{ skill.description }}
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-info edit-skill" data-url="{{path('admin_skill_edit',{'id': skill.id}) }}" data-toggle="modal" data-target="#edit-skill-{{skill.id}}">
                            Modifier
                            </button>
                        </div>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-{{skill.id}}"><i class="fal fa-times-circle"></i></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block modalTitle %}Ajouter une compétence{% endblock %}
{% block modalBody %}
    {{ form_start(form) }}
        {{ form_label(form.label) }}
        {{ form_widget(form.label) }}
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'rows': '5'}}) }}
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}

