{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des corrections{% endblock %}

{% block body %}
  <div class="flex wrap just-between align-center">
    <h1 class="w-75">Liste des corrections</h1>
    {{ template.add() }}
  </div>
  <p class="text-small main-breadcrumb">
    <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
    <span>Toutes les corrections</span>
  </p>
  <hr>
  <div class="w-100">
    {% for correction in pagination.data %}
      {{ template.deleteConfirm(correction.id,path('admin_correction_delete',{'id':correction.id})) }}
      {{ template.modal('edit-correction-'~correction.id)}}
      <div class="container-white flexc my-1 shadow-small">
          <p><span class="bold">Projet</span> - {{ correction.project }}</p>
          <p class="my-2">{{ correction.content }}</p>
          <div class="text-center mt-auto">
              <button class="btn text-grey bhover shadow-small w-33 edit-correction" data-url="{{path('admin_correction_edit',{'id': correction.id}) }}"
              data-toggle="modal" data-target="#edit-correction-{{correction.id}}">
                  Modifier
              </button>
              <button type="button" class="btn text-grey rhover shadow-small" data-toggle="modal" data-target="#modal-{{correction.id}}" aria-label="Supprimer"><i class="fal fa-times-circle"></i></button>
          </div>
      </div>
    {% else %}
      <p class="text-center bold">Aucune correction</p>
    {% endfor %}
  </div>

{{ pagination.render(pagination.data is empty) }}

{% endblock %}

{% block modalTitle %}Corriger un projet{% endblock %}
{% block modalBody %}
  {{ form_start(form) }}
    <div class="my-2">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'rows': '8'}}) }}
    </div>
    <div class="my-2">
        {{ form_widget(form.project) }}
    </div>
    {{ template.confirm() }}
  {{ form_end(form) }}
{% endblock %}
