{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des simploniens{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/user/main.css') }}">
{% endblock %}

{% block body %}
{{ template.checkMessage(form) }}
    <div class="flex wrap just-between align-center">
        <h1>Liste des utilisateurs</h1>
        <div class="flex align-center button-position">
            <div class="btn-group shadow-small mr-4">
                <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn bg-white dropdown-toggle dropdown-toggle-split px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu shadow-small border-0" style="max-height: 300px; overflow: auto;">
                        <a href="{{ path('admin_all_users',{'slug': 'tout'}) }}" class="dropdown-item" aria-label="Tout">Tout</a>
                        {% for promotion in promotions %}
                        <a href="{{ path('admin_all_users',{'slug': promotion.slug}) }}" class="dropdown-item" aria-label="{{ promotion.slug }}">
                            {{ promotion }}
                        </a>
                        {% endfor %}
                        <a href="{{ path('admin_all_users',{'slug': 'autres'}) }}" class="dropdown-item" aria-label="Autres">Autres</a>
                    </div>
                </div>
                <span class="btn bg-white">
                    {% if promo is not empty and promo is not null %}
                    {{ promo.label }}
                    {% else %}
                    {{ slug|capitalize }}
                    {% endif %}
                </span>
            </div>
            {{ template.add() }}
        </div>
    </div>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <span>Tous les utilisateurs</span>
    </p>
    <hr>
    <div class="flex wrap just-around">
        {% for user in pagination.data %}
            {% if user.hasRole() == false %}
            {{ template.deleteConfirm(user.id,path('admin_delete_user',{'slug':user.slug})) }}
            <div class="container-white row shadow-small my-2 w-flex user-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flexc just-around align-center text-center text-center">
                    {# <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" class="avatar-md" alt="Avatar de {{user}}"> #}
                    {{ template.img("/img/avatar/{{user.avatar}}", "avatar-md", "Avatar de {{user}}") }}
                    <p class="users-promo-link">
                        {% if user.website != null %}
                        <a href="{{ user.website }}" class="text-red rhover" target="_blank" aria-label="Site web" rel="noreferrer"><i class="fal fa-globe text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-globe text-center"></i></em>
                        {% endif %}
                        &nbsp;
                        {% if user.github != null %}
                        <a href="{{ user.github }}" class="text-red rhover" target="_blank" aria-label="Github" rel="noreferrer"><i class="fal fa-code-branch text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-code-branch text-center"></i></em>
                        {% endif %}
                    </p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-secondary-info">
                    <a href="{{ path('account_user_show',{'slug': user.slug}) }}" class="bold h5">{{ user }}</a><br>
                    <ul>
                        <li class="mb-1"><i class="fal fa-envelope text-center"></i> {{ user.email }}</li>
                        <li class="mb-1">
                            <i class="fal fa-mobile-android text-center"></i>
                            {% if user.tel != null %}
                            {{ user.tel }}
                            {% else %}
                            <em>Pas de numéro de téléphone</em>
                            {% endif %}
                        </li>
                        <li class="mb-1">
                            {% if user.promotion != null %}
                            <span class="badge badge-pill badge-danger mt-1">{{ user.promotion }}</span>
                            {% else %}
                            <em>Aucune promo</em>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-12 flex just-center my-2">
                    {% for uskill in user.userSkills %}
                        <div
                        class="level-xs level-{{ uskill.level }} m-1" data-toggle="tooltip"
                        data-placement="top" title="{{ uskill.skill.label }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-12 text-center my-3">
                    <p class="main-title"><span class="bg-white px-3">Modifier</span></p>
                </div>
                <div class="col-12 row text-center mx-auto my-1">
                    {% if is_granted('ROLE_MEDIATEUR') == false or is_granted('ROLE_FORMER') %}
                    <div class="col-2">
                        <a class="text-grey bhover" href="{{ path('admin_edit_skills',{'slug': user.slug }) }}" aria-label="Compétences" data-toggle="tooltip"
                        data-placement="top" title="Modifier les compétences">
                            <i class="fal fa-tasks text-grey text-medium bhover"></i>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-1"></div>
                    {% endif %}
                    <div class="col-2">
                        <a class="text-grey bhover" href="{{ path('admin_user_data_edit',{'slug': user.slug}) }}" aria-label="Données" data-toggle="tooltip"
                        data-placement="top" title="Modifier les données">
                            <i class="fal fa-key text-grey text-medium bhover"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="text-grey bhover" href="{{ path('user_training_admin', {'slug': user.slug}) }}" aria-label="Stages" data-toggle="tooltip"
                        data-placement="top" title="Afficher les stages">
                            <i class="fal fa-handshake text-medium text-grey bhover"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="text-grey bhover" href="{{ path('admin_user_edit',{'slug': user.slug}) }}" aria-label="Modifier" data-toggle="tooltip"
                        data-placement="top" title="Modifier le compte">
                            <i class="fas fa-cog text-medium text-grey bhover"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="text-grey bhover" href="{{ path('account_user_show',{'slug': user.slug}) }}" aria-label="Voir" data-toggle="tooltip"
                        data-placement="top" title="Afficher l'utilisateur">
                            <i class="far fa-eye text-medium text-grey bhover"></i>
                        </a>
                    </div>
                    <div class="col-2">
                        <a class="text-grey bhover" data-toggle="modal" data-target="#modal-{{user.id}}" data-toggle="tooltip"
                        data-placement="top" title="Supprimer">
                            <i class="fal fa-times-circle text-medium text-grey bhover"></i>
                        </a>
                    </div>
                    {% if is_granted('ROLE_MEDIATEUR') or is_granted('ROLE_FORMER') == false %}
                    <div class="col-1"></div>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% else %}
        <span>Il n'y a personne pour le moment ...</span>
        {% endfor %}
    </div>
    {% if pagination.data is not empty %}
    <div class="flex just-center my-3">
        <div class="pagination p1">
            <ul class="text-center">
                <a href="{{ path(pagination.route,{'page': pagination.page - 1, 'slug': slug}) }}" aria-label="Page précédente" class="rhover {% if pagination.page == 1 %}d-none{% endif %}">
                    <li><i class="fal fa-arrow-circle-left"></i></li>
                </a>
                {% for i in 1..pagination.pages %}
                <a href="{{ path(pagination.route,{'page': i, 'slug': slug}) }}" aria-label="Page {{i}}" class="avatar-xs {% if pagination.page == i %}is-active{% endif %}">
                    <li>{{ i }}</li>
                </a>
                {% endfor %}
                <a href="{{ path(pagination.route,{'page': pagination.page + 1, 'slug': slug}) }}" aria-label="Page suivante" class="rhover {% if pagination.page == pagination.pages %}d-none{% endif %}">
                    <li><i class="fal fa-arrow-circle-right"></i></li>
                </a>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block modalTitle %}Ajouter un utilisateur{% endblock %}
{% block modalBody %}
    {{ form_start(form) }}
        <div class="row p-2">
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.firstname) }}<br>
                {{ form_widget(form.firstname) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.lastname) }}<br>
                {{ form_widget(form.lastname) }}
            </div>
            <div class="col-12 my-2 container-white shadow-small">
                {{ form_label(form.email) }}<br>
                {{ form_widget(form.email) }}
            </div>
            <div class="col-12 my-2 container-white shadow-small">
                {{ form_label(form.password) }}<br>
                {{ form_widget(form.password) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.promotion) }}<br>
                {{ form_widget(form.promotion) }}
            </div>
            <div class="col-md-6 col-sm-12 my-2 container-white shadow-small">
                {{ form_label(form.userRoles) }}<br>
                {{ form_widget(form.userRoles) }}
            </div>
        </div>
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}