{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Liste des données{% endblock %}

{% block body %}
  <div class="flex just-between">
    <h1>Liste des données</h1>
    {{ template.add() }}
  </div>
  <hr>
  <div>
    <p class="text-center h5 my-3 bold">Données</p>
    <div class="flex wrap just-around">
      {% for data in datas %}
        {{ template.deleteConfirm('data-'~data.id,path('admin_data_delete',{'id':data.id})) }}
        {{ template.modal('edit-data-'~data.id)}}
        <div class="container-white shadow-small w-flex flexc text-center my-1">
          <span class="bold">{{ data.label }}</span>
          <div class="text-center mt-auto">
              <button class="btn text-grey bhover shadow-small w-33 edit-data"
              data-url="{{path('admin_data_edit',{'id': data.id}) }}" data-toggle="modal" data-target="#edit-data-{{data.id}}">
                  Modifier
              </button>
              <button type="button" class="btn text-grey rhover shadow-small" data-toggle="modal" data-target="#modal-data-{{data.id}}"><i class="fal fa-times-circle"></i></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div>
    <p class="text-center h5 my-3 bold">Langages</p>
    <div class="flex wrap just-center">
      {% for language in languages %}
        {{ template.deleteConfirm('language-'~language.id,path('admin_language_delete',{'id':language.id})) }}
        <div class="outline-black p-2 m-1 rounded rhover" data-toggle="modal" data-target="#modal-language-{{language.id}}">
          {{ language.label }}
          <i class="fal fa-times-circle"></i>
        </div>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div>
    <p class="text-center h5 my-3 bold">Roles</p>
    <div class="flex wrap just-around">
      {% for role in roles %}
        {% for urole in role.userroles %}
          {{ template.deleteConfirm('role-'~role.id,path('admin_role_remove',{'id':role.id, 'id_role': urole.id})) }}
          <div class="container-white shadow-small bold rhover" data-toggle="modal" data-target="#modal-role-{{role.id}}">
            <span>{{ role }}</span> - <span class="text-red">{{ urole }}</span>
            <i class="fal fa-times-circle ml-2"></i>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block modalBody %}
<div class="my-2">
  <h3>Ajouter une donnée</h3>
  {{ form_start(formData, {'attr': {'name' : 'language'}}) }}
    {{ form_label(formData.label) }}
    {{ form_widget(formData.label) }}
    {{ template.confirm() }}
  {{ form_end(formData) }}
</div>
<hr>
<div class="my-2">
  <h3>Ajouter un langage</h3>
  {{ form_start(formLanguage) }}
    {{ form_label(formLanguage.label) }}
    {{ form_widget(formLanguage.label) }}
    {{ template.confirm() }}
  {{ form_end(formLanguage) }}
</div>
{% endblock %}