{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Mot de passe de {{ user }}{% endblock %}

{% block body %}
<h1>Mot de passe de {{ user }}</h1>
<hr>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ template.confirm() }}
{{ form_end(form) }}
{% endblock %}

{% block modal %}{% endblock %}