{% extends 'base_admin.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/skill.css">
<link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block body %}
<div class="main-section text-center">
    <div class="dashboard">
        <div class="icon-section">
            <i class="far fa-list-ul" aria-hidden="true"></i><br>
            <span class="bold">Projets</span>
            <p>12</p>
        </div>
        <div class="detail-section">
            <a href="#">Modifier cette section</a>
        </div>
    </div>
    <div class="dashboard dashboard-red">
        <div class="icon-section">
            <i class="fa fa-tasks" aria-hidden="true"></i><br>
            <span class="bold">Taches</span>
            <p>256</p>
        </div>
        <div class="detail-section">
            <a href="#">Modifier cette section </a>
        </div>
    </div>
    <div class="dashboard dashboard-blue">
        <div class="icon-section">
            <i class="fas fa-info" aria-hidden="true"></i><br>
            <span class="bold">Aides</span>
            <p>24</p>
        </div>
        <div class="detail-section">
            <a href="#">Modifier cette section </a>
        </div>
    </div>
</div>

<div class="admin-section flex wrap just-between">
    <div class="container-white flex wrap shadow-small my-3 w-66 admin-user-weather">
    {% for user in users %}
        <div class="flex just-between align-center users-weather px-2 w-50">
            <span>{{ user.firstname }} {{ user.lastname|first}}.</span>
            {{ user.weatherIcon|raw }}
        </div>
    {% else %}
    {% endfor %}
    </div>

    <div class="container-white shadow-small my-3 w-33 admin-user-files" style="max-height: 425px">
        <div class="form-files rounded">
            <p class="bold">Envoyer un fichier</p>
            <div>
                {{ form_start(form) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, { 'attr': { 'maxlength' : 60 } }) }}
                    <hr>
                    {{ form_label(form.receiver) }}
                    {{ form_widget(form.receiver, {'attr': {
                        'class': 'files-selected selectpicker',
                        'title': 'Choisir les utilisateurs',
                        'data-live-search': 'true',
                        'multiple': '',
                        'data-selected-text-format': 'count > 2',
                        'data-style': 'bg-grey',
                        'data-size': '6'
                    }}) }}
                    <hr>
                    {{ form_widget(form.name) }}
                    <div class="custom-control custom-switch text-center mt-4">
                    {{ form_widget(form.important) }}
                    </div>
                    {{ template.confirm()}}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="flex wrap just-around align-center my-3 w-100">
        {% for user in users %}
        <div class="container-white w-33 my-1 shadow-small admin-promo-users">
            <a href="#">
                <div class="flexc just-around h-100 text-center ">
                    <img src="/img/avatar/{{ user.avatar }}" class="avatar-sm mx-auto">
                    <span class="bold">{{ user.fullname }}</span>
                    <div class="flex just-center">
                    {% for uskill in user.userSkills %}
                        <div
                        class="level-xs level-{{ uskill.level }} m-1" data-toggle="tooltip"
                        data-placement="top" title="{{ uskill.skill.label }}">
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block libraries %}
<script src="/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block javascripts %}
<script>
$('.files-selected').selectpicker();
</script>
{% endblock %}