{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Toutes les promotions{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/libraries/bootstrap-select.css') }}">
{% endblock %}

{% block body %}
    {% set access = admin is defined and is_granted('ROLE_ADMIN') %}
    <div class="flex just-between align-center">
        <h1 class="w-75">Liste des promotions</h1>
        {% if access %}{{ template.add() }}{% endif %}
    </div>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <span>Promotions</span>
    </p>
    <hr>
    <div class="flex wrap just-around">
        {% for promo in promos | reverse %}
            {% if access %}
                {{ template.deleteConfirm(promo.id,path('admin_promo_delete',{'id':promo.id})) }}
                {{ template.modalPromotion('modal-promo-edit-'~promo.id) }}
            {% endif %}
            <div class="header-main bg-white shadow-small">
                <div class="shadow-sm flex bg-body just-center align-center avatar-md"><i class="fas fa-users text-large"></i></div>
                <p class="text-medium mt-1 bold">
                    {{ promo }}
                </p>
                <p class="text-center text-small text-grey">
                    {{ promo.nickname|default('Aucun surnom') }}
                </p>
                <hr class="w-100 my-2">
                <p class="text-center" style="font-size: .95em">
                    <span class="text-small bold">Formateurs</span><br>
                    <em>
                        {% for former in promo.formers %}
                            {{ former }} &nbsp;<br>
                        {% else %}
                            Aucun<br>
                        {% endfor %}
                    </em>
                    <span class="text-small bold">Médiateurs</span><br>
                    <em>
                        {% for mediator in promo.mediators %}
                            {{ mediator }} &nbsp;
                        {% else %}
                            Aucun<br>
                        {% endfor %}
                    </em>
                </p>

                {% if access %}
                    <p class="text-center text-grey">Apprenants : {{ promo.users|length}}</p>

                    {% set startAt = promo.startAt|date('d/m/Y') %}
                    {% set endAt   = promo.endAt|date('d/m/Y') %}
                    {% if promo.startAt is null %}
                    {% set startAt = '--/--/----' %}
                    {% endif %}
                    {% if promo.endAt is null %}
                    {% set endAt = '--/--/----' %}
                    {% endif %}

                    <p class="text-grey">{{startAt}} &nbsp; {{endAt}}</p>
                {% endif %}

                {% if promo.current %}
                    {% if access %}
                    <div class="header-label pointer promocurrent" data-promourl="{{path('admin_promo_active',{'id':promo.id}) }}">En cours</div>
                    {% else %}
                    <div class="header-label">En cours</div>
                    {% endif %}
                {% else %}
                    {% if access %}
                    <div class="header-label pointer promocurrent inactive" data-promourl="{{path('admin_promo_active',{'id':promo.id}) }}">Activer</div>
                    {% endif %}
                {% endif %}

                <hr class="w-100 my-2">

                <a href="{{ path('promo_show',{'slug': promo.slug}) }}" class="text-grey bhover" aria-label="Voir la promotion">
                    Voir la promotion
                </a>
                {% if access %}
                    <hr class="w-100 my-2">
                    <div class="row mx-auto text-center mb-2">
                        <div class="col-3">
                            <a class="text-grey bhover" href="{{ path('admin_promo_users',{'slug': promo.slug}) }}" aria-label="Ajouter des utilisateurs" data-toggle="tooltip"
                            data-placement="top" title="Ajouter des apprenants">
                                <i class="fal fa-user-plus text-grey text-medium bhover"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="text-grey bhover promo-edit" data-url="{{ path('admin_promo_edit',{'id':promo.id}) }}" aria-label="Modifier la promotion" data-toggle="modal" 
                            data-target="#modal-promo-edit-{{promo.id}}" data-toggle="tooltip" data-placement="top" title="Modifier la promotion">
                                <i class="fas fa-pencil text-grey text-medium bhover"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="text-grey bhover promo-edit" href="{{ path('promo_show',{'slug': promo.slug }) }}" aria-label="Voir la promotion" data-toggle="tooltip"
                                data-placement="top" title="Afficher les apprenants">
                                <i class="far fa-eye text-grey text-medium bhover"></i>
                            </a>
                        </div>
                        <div class="col-3">
                            <a class="text-grey bhover" data-toggle="modal" data-target="#modal-{{promo.id}}" data-toggle="tooltip"
                                data-placement="top" title="Supprimer">
                                <i class="fal fa-times-circle text-grey text-medium bhover"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="text-center my-2">
        <a href="{{ path('promo_other') }}" class="text-grey bhover" aria-label="Autres">
            Utilisateurs sans promotion <i class="fal fa-directions"></i>
        </a>
    </div>

</div>
{% endblock %}

{% block modalTitle %}Ajouter une promotion{% endblock %}
{% block modalBody %}
    {% if admin is defined and is_granted('ROLE_ADMIN') %}
    <div class="container-white">
        {{ form_start(form) }}
            <div class="mb-3">
            {{ form_label(form.label) }}
            {{ form_widget(form.label) }}
            </div>
            <div class="mt-3">
            {{ form_label(form.nickname) }}
            {{ form_widget(form.nickname) }}
            </div>
            <div class="mt-3">
                <div class="w-100">
                {{ form_widget(form.moderators, {'attr': {
                    'class': 'promo-mod-selected selectpicker',
                    'title': 'Formateur(s) et médiateur(s) de la promo',
                    'data-live-search': 'true',
                    'multiple': '',
                    'data-selected-text-format': 'count > 2',
                    'data-style': 'bg-white',
                    'data-size': '6'
                }}) }}
                </div>
                <div class="row my-1">
                    <div class="col-5">{{ form_label(form.startAt) }}</div>
                    <div class="col-7">{{ form_widget(form.startAt) }}</div>
                </div>
                <div class="row my-1">
                    <div class="col-5">{{ form_label(form.endAt) }}</div>
                    <div class="col-7">{{ form_widget(form.endAt) }}</div>
                </div>
            </div>
            {{ template.confirm() }}
        {{ form_end(form) }}
    </div>
    {% endif %}
{% endblock %}

{% block libraries %}
{{ encore_entry_script_tags('js/libraries/bootstrap-select') }}
{% endblock %}
