{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Toutes les promotions{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/promo.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <h1>Liste des promotions</h1>
    <hr>
    <div class="flex wrap just-around">
        {% for promo in promos | reverse %}
            <div class="bg-white shadow text-center mb-3 p-1 all-promo">
                {% if promo.current %}
                    <div class="" style="position: absolute; width: 100px">
                        <div class="current">
                            En cours
                        </div>
                    </div>
                {% endif %}
                <div class="promo-content mt-3 mb-1">
                    <a href="{{ path('promo_show',{'slug': promo.slug}) }}" class="promo-url">
                        <h2>{{ promo.label }}</h2>
                        <ul>
                            <li>Formateur : <em>PETIT Romain</em></li>
                            <li>Médiateur : <em>CARON Benoit</em></li>
                        </ul>
                        <hr>
                        <span class="text-grey">{{ promo.nickname | capitalize }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
        <a href="{{ path('promo_other') }}" class="text-grey users-without-promo">Utilisateurs sans promotion <i class="fal fa-directions"></i></a>
    </div>
</div>
{% endblock %}
