{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Toutes les promotions{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/promo.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between">
        <h1>Liste des promotions</h1>
        {% if is_granted('ROLE_ADMIN') %}
        {# {{ template.linkModal("modal","modal-button bg-grey button-circle text-grey",'<i class="fal fa-plus"></i>') }} #}
        {% endif %}
    </div>
    <hr>
    <div class="flex wrap just-around">
        {% for promo in promos | reverse %}
            {{ template.deleteConfirm(promo.id,path('promo_delete',{'id':promo.id})) }}
            <div class="bg-white shadow text-center mb-3 p-1 all-promo">
                <div class="flex just-between align-baseline promo-nav">
                    {% if promo.current %}
                    <div class="current">
                        En cours
                    </div>
                    {% else %}
                    <div class="no-current">test</div>
                    {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <div>
                    <div class="subnav">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip">
                            <a href="{{ path('promo_edit_users',{'slug': promo.slug}) }}" class="subnav-link">Ajouter</a><br>
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{promo.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                </div>
                <div class="promo-content">
                    <a href="{{ path('promo_show',{'slug': promo.slug}) }}">
                        <h2>{{ promo.label }}</h2>
                        <ul>
                            <li>Formateur : <em>PETIT Romain</em></li>
                            <li>Médiateur : <em>CARON Benoit</em></li>
                        </ul>
                        <hr>
                        <span class="text-grey">{{ promo.nickname | capitalize }}</span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal" data-modalid="modal">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-50 mx-auto">
                <h2>Ajouter une promotion</h2>
                <hr>
                {{ form_start(form) }}
                {{ form_label(form.label) }}
                {{ form_widget(form.label) }}
                {{ form_label(form.nickname) }}
                {{ form_widget(form.nickname) }}
                <div class="custom-control custom-switch text-center mt-4">
                {{ form_widget(form.current) }}
                </div>
                {{ template.confirm() }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
