{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Gestion des simploniens{% endblock %}

{% form_theme form _self 'jquery.collection.html.twig' %}

{% block body %}
    <h1>{{ promo.label }}</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.users) }}
    {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}

{% block _add_users_promotion_users_entry_row %}
{{ form_widget(form) }}
{% endblock %}

{% block _add_users_promotion_users_entry_widget %}
<div class="container-white row shadow-small my-1">
    <div class="col-12 col-md-3 col-sm-4 my-1">{{ form_widget(form.firstname) }}</div>
    <div class="col-12 col-md-3 col-sm-4 my-1">{{ form_widget(form.lastname) }}</div>
    <div class="col-12 col-md-6 col-sm-4 my-1">{{ form_widget(form.email) }}</div>
</div>
{% endblock %}

{% block modal %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.promo').collection({
            'up': '<a href="#" aria-label="Remonter" class="mx-1"><i class="fal fa-chevron-circle-up"></i></a>',
            'down': '<a href="#" aria-label="Redescendre" class="mx-1"><i class="fal fa-chevron-circle-down"></i></a>',
            'remove': '<a href="#" aria-label="Supprimer" class="mx-1 text-red"><i class="fal fa-times-circle"></i></a>',
            'add': '<button class="bg-white button-circle shadow-small text-grey mx-auto d-block mt-4" aria-label="Ajouter"><i class="fal fa-plus"></i></button>',
            'add_at_the_end': true
        });
    </script>
{% endblock %}

