{% extends 'base.html.twig' %}

{% block title %}Utilisateurs sans promotion{% endblock %}

{% block body %}
    <h1>Utilisateurs sans promotion</h1>
    <p class="text-small main-breadcrumb">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <a href="{{ path('promo_all') }}">Promotions</a> &nbsp; / &nbsp;
        <span>Autres</span>
    </p>
    <hr>
    <div class="flex wrap just-around">
        {% for user in users %}
            <div class="container-white row shadow-small my-2 w-flex user-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flexc just-around align-center text-center text-center">
                    <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" alt="Avatar de {{user}}" class="avatar-md">
                    {# {{ template.img("/img/avatar/{{user.avatar}}", "avatar-md", "Avatar de {{user}}") }} #}
                    <p class="users-promo-link">
                        {% if user.website != null %}
                        <a href="{{ user.website }}" class="text-red rhover" target="_blank" rel="noreferrer" aria-label="Site"><i class="fal fa-globe text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-globe text-center"></i></em>
                        {% endif %}
                        &nbsp;
                        {% if user.github != null %}
                        <a href="{{ user.github }}" class="text-red rhover" target="_blank" rel="noreferrer" aria-label="Github"><i class="fal fa-code-branch text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-code-branch text-center"></i></em>
                        {% endif %}
                    </p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-secondary-info">
                    <a href="{{ path('account_user_show',{'slug': user.slug}) }}" class="bold h4" aria-label="Voir">{{ user }}</a><br>
                    <ul>
                        <li class="mb-1"><i class="fal fa-envelope text-center"></i> {{ user.email }}</li>
                        <li class="mb-1">
                            <i class="fal fa-mobile-android text-center"></i>
                            {% if user.tel != null %}
                            {{ user.tel }}
                            {% else %}
                            <em>Pas de numéro de téléphone</em>
                            {% endif %}
                        </li>
                        <li class="mb-1">
                            <i class="far fa-map-marker-alt text-center"></i>
                            {% if user.zipcode != null or user.city != null %}
                            {{ user.zipcode }} {{ user.city }}
                            {% else %}
                            <em>Pas d'adresse</em>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
        <span>Il n'y a personne pour le moment ...</span>
        {% endfor %}
    </div>
{% endblock %}

{% block modal %}{% endblock %}