{% extends 'base.html.twig' %}

{% block title %}{{ promo.label }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/promo.css">
<link rel="stylesheet" href="/css/skill.css">
{% endblock %}

{% block body %}
    <div class="flex just-between">
        <h1>{{ promo.label }}<em class="h4 ml-5">{{ promo.nickname }}</em></h1>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('promo_edit_users',{'slug': promo.slug}) }}" class="bg-grey button-circle text-grey">+</a>
        {% endif %}
    </div>

    <hr>
    <div class="flex wrap just-around promo">
        {% for user in promo.users %}
        <div class="promo-users shadow">
            <a href="{{ path('user_show',{'id': user.id}) }}">
            <div class="flex flexc just-around h-100 text-center">
                <img src="/img/avatar/{{ user.avatar }}" class="avatar-sm mx-auto">
                <span class="bold">{{ user.fullname }}</span>
                <span>{{ user.email }}</span>
                <div class="flex just-center">
                {% for uskill in user.userSkills %}
                    <div
                     class="level-xs level-{{ uskill.level }} m-1" data-toggle="tooltip"
                     data-placement="top" title="{{ uskill.skill.label }}">
                    </div>
                {% endfor %}
                </div>
            </div>
            </a>
        </div>
        {% else %}
        <div class="promo-empty">
            <div>Il n'y a personne pour le moment ...</div>
            <img src="/img/landscape.jpg">
        </div>
        {% endfor %}
    </div>
{% endblock %}
