{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}{{ promo }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/user/main.css') }}">
{% endblock %}

{% block body %}
    <h1>{{ promo }}</h1>
    <span class="h5">{{ promo.nickname|capitalize }}</span>
    <p class="text-small main-breadcrumb mt-2">
        <a href="{{ path('account_show') }}">Accueil</a> &nbsp; / &nbsp;
        <a href="{{ path('promo_all') }}">Promotions</a> &nbsp; / &nbsp;
        <span>{{ promo|truncate(50) }}</span>
    </p>
    <hr>
    <div class="flex wrap just-around">
        {% for user in modo %}
            <div class="rounded p-2 row shadow-small my-2 w-flex user-container admin-promo">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flexc just-around align-center text-center text-center">
                    <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" alt="Avatar de {{user}}" class="avatar-md">
                    {# {{ template.img("/img/avatar/{{user.avatar}}", "avatar-md","Avatar de {{user}}") }} #}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-secondary-info">
                    <span class="bold h4" aria-label="Voir">{{ user }}</span><br>
                    <p>
                        <i class="fal fa-envelope text-center"></i> {{ user.email }}</li>
                        {% for role in user.userRoles %}
                            <br><span class="bold">{{ role }}</span>
                        {% else %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if modo is not empty %}
    <hr>
    {% endif %}
    <div class="flex wrap just-around">
        {% for user in promo.users %}
            {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') %}
            {{ template.deleteConfirm(user.id,path('admin_promo_remove_user',{'slug':user.slug})) }}
            {% endif %}
            <div class="container-white row shadow-small my-2 w-flex user-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flexc just-around align-center text-center text-center">
                    <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" alt="Avatar de {{user}}" class="avatar-md">
                    {# {{ template.img("/img/avatar/{{user.avatar}}", "avatar-md","Avatar de {{user}}") }} #}
                    <p class="users-promo-link">
                        {% if user.website != null %}
                        <a href="{{ user.website }}" class="text-red rhover" target="_blank" rel="noreferrer" aria-label="Site"><i class="fal fa-globe text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-globe text-center"></i></em>
                        {% endif %}
                        &nbsp;
                        {% if user.github != null %}
                        <a href="{{ user.github }}" class="text-red rhover" target="_blank" rel="noreferrer" aria-label="Github"><i class="fal fa-code-branch text-center"></i></a>
                        {% else %}
                        <em><i class="fal fa-code-branch text-center"></i></em>
                        {% endif %}
                        {% if is_granted('ROLE_FORMER') or is_granted('ROLE_MEDIATEUR') %}
                        <a class="text-red rhover ml-1" target="_blank" rel="noreferrer" aria-label="Remove" data-toggle="modal" data-target="#modal-{{user.id}}"><i class="fal fa-times-circle text-center"></i></a>
                        {% endif %}
                    </p>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 user-secondary-info">
                    <a href="{{ path('account_user_show',{'slug': user.slug}) }}" class="bold h4" aria-label="Voir">{{ user }}</a><br>
                    <ul>
                        <li class="mb-1"><i class="fal fa-envelope text-center"></i> {{ user.email }}</li>
                        <li class="mb-1">
                            <i class="fal fa-mobile-android text-center"></i>
                            {% if user.tel != null %}
                            {{ user.tel }}
                            {% else %}
                            <em>Pas de numéro de téléphone</em>
                            {% endif %}
                        </li>
                        <li class="mb-1">
                            <i class="far fa-map-marker-alt text-center"></i>
                            {% if user.zipcode != null or user.city != null %}
                            {{ user.zipcode }} {{ user.city }}
                            {% else %}
                            <em>Pas d'adresse</em>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        {% else %}
        <span>Il n'y a personne pour le moment ...</span>
        {% endfor %}
    </div>
{% endblock %}

{% block modal %}{% endblock %}