{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Modifier mon compte{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% form_theme form _self %}

{% block body %}
    {{ template.checkMessage(form, "Les niveaux doivent être compris entre 0 et 3") }}
    <h1>Modifier les compétences de {{ user.firstname | capitalize }}</h1>
    <span class="text-grey">{{ user }}</span>
    <hr>
    {{ form_start(form) }}
        {% for form in form.userSkills %}
            <div class="container-white shadow-small flex wrap just-between align-center mb-2">
                <div class="w-75 edit-skill-label">{{ user.userSkills[loop.index-1].skill.label }}</div>
                <div>{{ form_widget(form) }}</div>
            </div>
        {% endfor %}
        {{ template.confirm() }}
    {{ form_end(form) }}
{% endblock %}

{% block _edit_user_skills_userSkills_entry_widget %}
    <div class="flex just-around align-center">
        <div class="flex mr-3">
            <div class="circle-level rounded-circle pointer level-0 mr-2" id="0" style="height: 15px; width: 15px"></div>
            <div class="circle-level rounded-circle pointer level-1 mr-2" id="1" style="height: 15px; width: 15px"></div>
            <div class="circle-level rounded-circle pointer level-2 mr-2" id="2" style="height: 15px; width: 15px"></div>
            <div class="circle-level rounded-circle pointer level-3 mr-2" id="3" style="height: 15px; width: 15px"></div>
        </div>
        {{ form_widget(form.level, {'attr': {'class': 'level p-0 rounded-circle text-white border-0 shadow-none'}}) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/skills.js"></script>
{% endblock %}
