{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}
{% block title %}Compétences{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/skill.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between">
        <h1>Liste des compétences</h1>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="button-edit add-task ml-2" data-toggle="modal" data-target="#modal-add-skill"><i class="fal fa-plus"></i></div>
        {% endif %}
    </div>
    <hr>
    <div class="bg-grey rounded p-2">
    {% for uskill in app.user.userskills %}
        {% set skill = uskill.skill %}
        <div class="bg-white rounded p-2 mt-1 mb-2 border-level-{{uskill.level}}">
            {% if is_granted('ROLE_ADMIN') %}
            {{ template.deleteConfirm(skill.id,path('skill_delete',{'id':skill.id})) }}
                <div>
                    <div class="subnav">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip">
                            <a class="subnav-link text-red" data-toggle="modal" data-target="#modal-{{skill.id}}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <span class="bold">{{ skill.label }}</span>
            <p class="text-justify">
                {{ skill.description | raw }}
            </p>
        </div>
    {% endfor %}
    </div>

    <div class="modal fade" id="modal-add-skill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    {{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-4 pt-3 pb-0 mb-2">
                <div class="flex just-between align-center">
                    <h2>Ajouter une compétence</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                {{ form_start(form) }}
                {{ form_label(form.label) }}
                {{ form_widget(form.label) }}
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ template.confirm() }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}