{% import 'macro.html.twig' as template %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Plateforme en ligne pour les formateurs et apprenants de la formation Simplon.co - Développement Web et Web Mobile de Charleville-Mézières"/>
        <meta name="robots" content="noindex"/>
        <title>SimplonOnline - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/favicon.png" />
        <link rel='stylesheet' href='/FontAwesome/css/all.min.css'/>
        <link rel="stylesheet" href="{{ asset('build/css/main/base.css') }}">
        {% block stylesheets %}{% endblock %}
        <script>
            document.addEventListener('DOMContentLoaded', function(){
                var s = document.getElementById("loader").style;
                s.opacity = 1;
                (function fade(){(s.opacity-=.1)<0?s.display="none":setTimeout(fade,40)})();
            }, false);
        </script>
    </head>
    <body>
        <div class="position-fixed bg-white" id="loader">
            <div class="flex just-center align-center h-100 w-100">
                <span class="whirly">Loading…</span>
            </div>
        </div>

        <div class="toast-content"></div>

        {% for class, messages in app.flashes %}
            {% for message in messages %}
                <div class="d-none message-flash message-flash-{{class}}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% include 'partials/header.html.twig' %}
        {% include 'partials/subnav.html.twig' %}

        <div class="main py-4 mx-auto">
            {% block body %}{% endblock %}
        </div>

        {% block modal %}
            <div class="modal modal-main fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog {% block modalWidth %}{% endblock %}" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="flex just-between align-center">
                                <h2>{% block modalTitle %}{% endblock %}</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <hr>
                            <div class="modal-body">
                            {% block modalBody %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <footer class="text-center text-small text-grey">
            {# <div class="avatar-xs bg-white shadow-small mx-auto flex just-center align-center bhover backtotop"> #}
                <div class="backtotop bhover d-inline-block my-4">
                    <i class="fal fa-chevron-circle-up text-large mb-1"></i><br>
                    Retour en haut de page
                </div><br>
            {# </div> #}
            <span class="text-red">Simplon</span> - Copyright &copy; 2019. All rights reserved.
        </footer>

        {{ encore_entry_script_tags('js/app') }}
        {% block libraries %}{% endblock %}
        {{ encore_entry_script_tags('js/base') }}
        {{ encore_entry_script_tags('js/ajax') }}
        {% block javascripts %}{% endblock %}

    </body>
</html>
