{# Message template #}
{% macro message(class, message) %}
<div class="message-{{ class }}">
    {{ message | raw }}
    <button type="button" class="close close-message">
        <span>&times;</span>
    </button>
</div>
{% endmacro %}

{# Error message for a form #}
{% macro checkMessage(form, message = null) %}
    {% if not form.vars.valid %}
    <div class="message-warning">
        Il y a une ou plusieurs erreurs de saisie.
        {% if message != null %}
        <br>{{ message }}
        {% endif %}
        <button type="button" class="close close-message">
            <span>&times;</span>
        </button>
    </div>
    {% endif %}
{% endmacro %}

{# Link to the modal #}
{% macro linkModal(id, class, icon) %}
    <a data-modalid="{{ id }}" class="{{class}}">{{ icon | raw }}</a>
{% endmacro %}

{# Delete confirm modal #}
{% macro delete(id, route, text = "") %}
    <div id="myModal" class="modal" data-modalid="{{ id }}">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-75 mx-auto">
                <h2>Confirmation de suppression</h2>
                <hr>
                <div class="text-center mb-4">
                    <p>{{ text }}</p>
                    <b>Êtes-vous sur de vouloir supprimer cet élément ? </b><br>
                    <a href="{{ route|raw }}">
                        <button type="submit" class="bg-red text-white button-circle mt-3">&#10004;</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{# Button confirm #}
{% macro confirm() %}
    <div class="text-center">
        <button type="submit" class="bg-red text-white button-circle mt-3 mb-1">&#10004;</button>
    </div>
{% endmacro %}

{# Skill modal #}
{% macro skillModal(skillUser) %}
    {% set skill = skillUser.skill %}
    <div id="myModal" class="modal" data-modalid="{{ skill.id }}">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-75 mx-auto">
                <h2>{{ skill.label }}</h2>
                <hr>
                <div class="text-justify mb-4">
                    {{ skill.description }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{# Skill level + modal on click popover #}
{% macro level(skillUser) %}
    {% import _self as template %}
    {% set skill = skillUser.skill %}
    {{ template.skillModal(skillUser) }}
    <div
    data-modalid="{{ skill.id }}" class="flex align-center skill-user" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
    data-content="{{ skill.label }}<hr><div class='modal-button skill-info'>Détails</div>">
        <div class="skill-label">{{ skill.label }}</div>
        <div class="level level-{{ skillUser.level }} ml-auto">{{ skillUser.level }}</div>
    </div>
{% endmacro %}

{# Task container #}
{% macro task(tasks, project, progress = true) %}
    {% for task in tasks if task is not null %}
    {{ _self.delete(task.id,path('project_delete_task',{'id_task':task.id,'slug':project.slug})) }}
    <div class="mt-2 ">
        {% if progress == true %}
        <div class="task-progress progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {% endif %}
        <div class="container-white flex align-center task-container">
            <div id="task-title">
                <span class="bold">{{ task.title }}</span><br>
                <span class="text-grey">{{ task.interval }}</span>
            </div>
            <div class="text-right" id="task-users">
                {% for user in task.users %}
                    <img src="/img/avatar/{{user.avatar}}" class="avatar-xs" data-toggle="tooltip" data-placement="top" title="{{user.fullname}}">
                {% endfor %}
            </div>
            <div class="text-center text-grey" id="task-sub">
                <i class="fal fa-tasks mr-2"></i> <span class="text-small"> 9/12 </span>
            </div>
            <div class="text-right">
                <i tabindex="0" class="fas fa-ellipsis-v subnav" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
                data-modalid="{{task.id}}" data-content='
                <a class="modal-button subnav-link text-red">Supprimer</a>'></i>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}