{# Error message for a form #}
{% macro checkMessage(form, message = null) %}
    {% if not form.vars.valid %}
        <div>
            <div class="messages-warning flex just-around align-center bg-white shadow w-50 mx-auto py-3 px-4 mb-4">
                <div class="message-icon-warning">
                    <i class="fas fa-exclamation-circle icon-sm pr-4"></i>
                </div>
                <p class="w-100">
                    <span class="bold">
                        Erreur
                    </span><br>
                    <span class="text-grey">Il y a une ou plusieurs erreurs de saisie.</span><br>
                    {% if message != null %}
                    <span class="text-grey">{{ message }}</span>
                    {% endif %}
                </p>
                <button type="button" class="close close-message text-grey">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{# Button confirm #}
{% macro confirm() %}
    <div class="text-center">
        <button type="submit" class="bg-red text-white button-circle mt-3 mb-1">&#10004;</button>
    </div>
{% endmacro %}

{# Button add #}
{% macro add() %}
    <a class="button-edit" data-toggle="modal" data-target="#modal"><i class="fal fa-plus"></i></a>
{% endmacro %}

{# Skill modal #}
{% macro skillModal(skillUser) %}
    {% set skill = skillUser.skill %}
    <div id="myModal" class="modal" data-modalid="{{ skill.id }}">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-75 mx-auto">
                <h2>{{ skill.label }}</h2>
                <hr>
                <div class="text-justify mb-4">
                    {{ skill.description }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{# Skill level + modal on click popover #}
{% macro level(skillUser) %}
    {% import _self as template %}
    {% set skill = skillUser.skill %}
    {{ template.skillModal(skillUser) }}
    <div
    data-modalid="{{ skill.id }}" class="flex align-center my-1 skill-user" tabindex="0" data-toggle="popover" data-trigger="focus" data-html="true" data-container="body" data-placement="top"
    data-content="{{ skill.label }}">
        <div class="skill-label w-75 pointer">{{ skill.label }}</div>
        <div class="level level-{{ skillUser.level }} ml-auto text-white pointer">{{ skillUser.level }}</div>
    </div>
{% endmacro %}

{# Task container #}
{% macro task(tasks, project, type) %}
    <div class="tasks">
        <input type="hidden" id="task-counter" value="{{tasks|length}}">
        {% for task in tasks if task is not null %}
            {{ _self.deleteConfirm(task.id,path('project_delete_task',{'id_task':task.id,'slug':project.slug})) }}
            {{ _self.modal("modal-edit-"~task.id,'mw-66') }}
            <div class="container-white row mx-0 flex align-center mt-2 p-3 task-container">
                <div class="col-lg-6 col-md-5 col-sm-6 col-12">
                    <p class="bold" id="task-title">{{ task.title }}</p>
                    <p class="text-grey">{{ task.interval }}</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-11 flex align-center justify-content-end mt-1 mb-2 project-members" id="task-users">
                    {% for user in task.users|slice(0,4) %}
                    <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" class="avatar-xs my-2 border-0" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title='
                    {# <img src="/img/avatar/{{user.avatar}}" class="avatar-xs my-2 border-0" alt="Avatar de {{user}}" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title=' #}
                        {{ user }} <br>
                    '>
                    {% endfor %}
                    {% if task.users|length > 4 %}
                    <div class="avatar-xs my-2 ml-1 border-0 text-center text-small project-other-users" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title='
                        {% for user in task.users|slice(4, task.users|length) %}
                        {{ user }}<br>
                        {% endfor %}
                    '>+{{task.users|length - 4}}</div>
                    {% endif %}
                </div>
                <div class="col-lg-2 col-md-2 text-center text-grey" id="task-sub">
                    <i class="fal fa-tasks task-icon mr-2"></i>
                    <span class="text-small"> {{ task.subtasksdone }} / {{ task.subtasks|length}} </span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                    {% if project.completed == false %}
                    <div class="subnav position-relative text-center rhover px-1 text-greyl">
                        <i class="fas fa-ellipsis-v"></i>
                        <div class="subnav-tooltip position-absolute text-center text-small shadow-small bg-white bold p-1">
                            <a class="subnav-link rhover edit-task" data-toggle="modal" data-target="#modal-edit-{{task.id}}" data-url="{{ path('project_edit_task',{'slug':project.slug,'id_task':task.id}) }}">Modifier</a><br>
                            <a class="subnav-link text-red"  data-toggle="modal" data-target="#modal-{{task.id}}">Supprimer</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if tasks|length >= 5 %}
    <div class="text-center my-2">
        <button class="btn rounded text-white bg-red py-1 px-3" data-url="{{path('project_seemore',{'slug':project.slug})}}" data-type="{{type}}" onclick="seeMore(this)">Voir plus</button>
    </div>
    {% endif %}
{% endmacro %}

{% macro deleteConfirm(id,route,text = '') %}
<div class="modal fade bd-example-modal-lg" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none!important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body px-5 pt-3 pb-5">
                <h2>Confirmation de suppression</h2>
                <hr>
                <div class="text-center mb-4">
                    <p>{{ text }}</p>
                    <b>Êtes-vous sur de vouloir supprimer cet élément ? </b><br>
                    <a href="{{ route|raw }}">
                        <button type="submit" class="bg-red text-white button-circle mt-3">&#10004;</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro modal(id, width = '') %}
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog {{ width }}" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro modalPromotion(id) %}
    <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro weather(type) %}
    {% if type == 0 %}
        <img src="/img/weather/sun.svg" class="img-xs" alt="sun">
    {% elseif type == 1 %}
        <img src="/img/weather/rain.svg" class="img-xs" alt="rain">
    {% elseif type == 2 %}
        <img src="/img/weather/clouds.svg" class="img-xs" alt="clouds">
    {% elseif type == 3 %}
        <img src="/img/weather/thunder.svg" class="img-xs" alt="thunder">
    {% else %}
        <img src="/img/weather/suncloud.svg" class="img-xs" alt="suncloud">
    {% endif %}
{% endmacro %}

{% macro img(src, class = '', alt = 'Image') %}
    <img src="{{ src }}" class="{{ class }}" onerror="this.onerror=null;this.src='/img/avatar/avatar.png';" alt="{{ alt }}">
{% endmacro %}