{% import 'macro.html.twig' as template %}

<div class="project-content" id="activity">
     <div class="flex align-center mb-3">
        <span class="text-medium bold">Corrigés</span>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_FORMER') %}
        <div class="button-edit add-task ml-2" data-toggle="modal" data-target="#modal-add-correct">+</div>
        {% endif %}
    </div>
    <div class="container-grey">
        {% for correct in project.corrections|reverse %}
        <div class="container-white mb-3">
            <span class="text-small text-grey">Corrigé le {{ correct.createdAt|date('d/m/Y') }}</span>
            <p>
                {{ correct.content|raw }}
            </p>
        </div>
        {% else %}
        <div class="container-white text-center">
            <i class="far fa-bed ml-2"></i> Il n'y a pas de corrigé.
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="modal-add-correct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    {{ form_start(formCorrect) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body px-4 pt-3 pb-0">
                <div class="flex just-between align-center">
                    <h2>Ajouter une correction</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                <div class="my-3">
                    <b>{{ form_label(formCorrect.content) }}</b>
                    {{ form_widget(formCorrect.content,{'attr': {'rows': '10'}}) }}
                </div>
                <div class="my-3">{{ template.confirm() }}</div>
            </div>
        </div>
    </div>
    {{ form_end(formCorrect) }}
</div>