<div class="project-content" id="detail">
    <div class="flex just-between mb-3">
        <div class="w-50">
            <span class="bold" style="font-size:1.2em">Détail du projet</span>
        </div>
        <div></div>
    </div>
    <div class="bg-grey rounded p-2">
        <div class="flex just-around">
            <div class="rounded p-2 mx-1" style="width: 50%">
                <span class="bold">Informations du projet</span>
                <div class="bg-white rounded p-2 mt-2">
                    <p>
                        #{{project.id}} - <b>{{ project.title }}</b><br>
                        <em>{{project.description}}</em>
                    </p>
                </div>
            </div>
            <div class="p-2 mx-1" style="width: 50%">
                <span class="bold">Liste des apprenants</span>
                {% for user in project.users %}
                <div class="bg-white rounded p-2 flex align-center mb-1 mt-2">
                    <img src="/img/avatar/{{user.avatar}}" class="avatar-xs mr-2">
                    <div class="flex-fill">{{ user.fullname }} {% if loop.index == 1 %}<i class="fal fa-star text-red bold ml-1" style="font-size: .85em"></i>{% endif %}</div>
                    <div style="width: 10%"><button type="button" class="btn"><i class="fal fa-times-circle"></i></button></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="bg-white rounded p-2 mb-2 text-center">
            <a href="#" class="bold">Modifier le projet</a>
        </div>
        <div class="bg-white rounded p-2 mb-1 text-center">
            <a href="#" class="text-red bold">Supprimer le projet</a>
        </div>
    </div>
</div>