{% import 'macro.html.twig' as template %}

<div class="project-content" id="task">

    <div class="flex align-center mb-3">
        <span class="text-medium bold">Taches</span>
        <div data-modalid="addTask" class="modal-button button-edit add-task ml-2">+</div>
    </div>

    <div class="container-grey mb-3 overflow-hidden">
        <span class="bold">Processing</span>
        {{ template.task(process, project) }}
    </div>

    <div class="container-grey mb-3 overflow-hidden">
        <span class="bold">To-do-list</span>
        {{ template.task(todolist, project) }}
    </div>

    <div class="container-grey mb-3">
        <span class="bold">Completed</span>
        {{ template.task(completed, project, false) }}
    </div>

</div>

<div id="myModal" class="modal" data-modalid="addTask">
    <div class="modal-content">
        <div class="close-modal text-right">&times;</div>
        <div class="mb-4 w-50 mx-auto">
            <h2>Ajouter une tache</h2>
            <hr>
            <div class="my-3">{{ form_start(form) }}</div>
            <div class="my-3">{{ form_widget(form.type) }}</div>
            <div class="my-3">{{ form_widget(form.title) }}</div>
            <div class="my-3">{{ form_widget(form.description) }}</div>
            <div class="my-3">{{ form_widget(form.users, { 'attr' : {'multiple' : 'multiple','class':'multipleselect','placeholder':'Personne(s) concernée(s)'}}) }}</div>
            <div class="my-3">{{ template.confirm() }}</div>
            <div class="my-3">{{ form_end(form) }}</div>
        </div>
    </div>
</div>