{% import 'macro.html.twig' as template %}

<div class="project-content" id="task">

     <div class="flex align-center mb-3">
        <span class="text-medium bold">Taches</span>
        {% if (project.completed == false and project.hasUser(app.user)) or is_granted('ROLE_FORMER') %}
        <div class="button-edit add-task ml-2 bhover" data-toggle="modal" data-target="#modal-add-task">+</div>
        {% endif %}
    </div>

    <div class="container-grey mb-3 overflow-hidden">
        <span class="bold">Processing</span>
        {% if process is not empty %}
        <div class="progress bg-white my-2">
            <div class="progress-bar status-{{ project.progressColor(process_progress) }}" role="progressbar" style="width: {{process_progress}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {{ template.task(process, project, 0, processTotal) }}
        {% else %}
        <div class="text-center bold py-2">Pas de contenu. <br><i class="fal fa-times-hexagon icon-md"></i></div>
        {% endif %}
    </div>

    <div class="container-grey mb-3 overflow-hidden">
        <span class="bold">To-do-list</span>
        {% if todolist is not empty %}
        <div class="progress bg-white my-2">
            <div class="progress-bar status-{{ project.progressColor(todolist_progress) }}" role="progressbar" style="width: {{todolist_progress}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        {{ template.task(todolist, project, 1, todolistTotal) }}
        {% else %}
        <div class="text-center bold py-2">Pas de contenu. <br><i class="fal fa-times-hexagon icon-md"></i></div>
        {% endif %}
    </div>

    <div class="container-grey mb-3">
        <span class="bold">Completed</span>
        {% if completed is not empty %}
        {{ template.task(completed, project, 2, completedTotal) }}
        {% else %}
        <div class="text-center bold py-2">Pas de contenu. <br><i class="fal fa-times-hexagon icon-md"></i></div>
        {% endif %}
    </div>

</div>

<div class="modal fade" id="modal-add-task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ form_start(form) }}
                <div class="flex just-between align-center">
                    <h2>Ajouter une tache</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                <div class="flex wrap">
                    <div class="w-100 task-info mx-auto my-1">
                        <div class="rounded p-2 shadow-small" style="background: #EEE">
                            <span class="bold">Info</span>
                            <div class="my-3">{{ form_widget(form.type) }}</div>
                            <div class="my-3">{{ form_widget(form.title, {'attr': {'maxlength': '50'}}) }}</div>
                            <div class="my-3">{{ form_widget(form.users, {'attr': {
                                'class': 'task-user-selected selectpicker',
                                'title': 'Apprenant(s) lié(s)',
                                'data-live-search': 'true',
                                'multiple': '',
                                'data-selected-text-format': 'count > 2',
                                'data-style': 'bg-white',
                                'data-size': '6'
                                }})  }}
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-100 task-subtask my-1">
                        <span class="bold">Liste des sous-tâches</span>
                        <div class="mt-3">{{ form_widget(form.subtasks) }}</div>
                    </div>
                </div>
                <div class="my-3">{{ template.confirm() }}</div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

