{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}
    Tous les projets
    {% if user is defined %}
    de {{ user.firstname }} {{ user.lastname }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% block body %}
    <div class="flex just-between align-center">
        <h1>
            {% if user is not defined %}
            Tous les projets
            {% else %}
            Tous mes projets
            {% endif %}
        </h1>
        {% if user is not defined %}
        <div class="btn-group shadow-small">
            <div class="btn-group dropleft" role="group">
                <button type="button" class="btn bg-white dropdown-toggle dropdown-toggle-split px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu shadow-small border-0" style="max-height: 300px; overflow: auto;">
                    <a href="{{ path('project_all') }}" class="dropdown-item">Tout</a>
                    {% for language in languages %}
                    <a href="{{ path('project_all_by_language',{'slug': language.slug}) }}" class="dropdown-item">
                        {{ language.label }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <span class="btn bg-white">
                {% if language is defined %}
                {{ language.label }}
                {% else %}
                Tout
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
    <hr>
    {% if user is defined %}
    {% set projects = user.projects %}
    {% endif %}
    <div class="flex wrap">
    {% for project in projects %}
        <div class="container-white py-3 m-1 shadow-small text-center project-container">
            <a href="{{ path('project_show',{'slug':project.slug}) }}" class="bold">{{ project.title }}</a><br>
            {% for user in project.users %}
                <img src="/img/avatar/{{user.avatar}}" class="avatar-xs my-2">
            {% endfor %}
            <div class="flex wrap just-center text-small text-grey">
                {% for language in project.languages %}
                    {{ language.label }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        {# {% if is_granted('ROLE_ADMIN') == false %} #}
        <div class="container-white flex just-center align-center py-3 m-1 shadow-small project-container">
            <a href="{{ path('project_create') }}"><div class="all-add-project">+</div></a>
        </div>
        {# {% endif %} #}
    </div>
{% endblock %}