{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}
    Tous les projets
    {% if user is defined %}
    de {{ user.firstname }} {{ user.lastname }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% block body %}
    <h1>
        Tous les projets
        {% if user is defined %}
        de {{ user.firstname }} {{ user.lastname }}
        {% endif %}
    </h1>
    <hr>
    {% if user is defined %}
    {% set projects = user.projects %}
    {% endif %}
    <div class="flex wrap">
    {% for project in projects %}
        <div class="container-white py-3 m-1 shadow-small text-center project-container">
            <a href="{{ path('project_show',{'slug':project.slug}) }}" class="bold">{{ project.title }}</a><br>
            {% for user in project.users %}
                <img src="/img/avatar/{{user.avatar}}" class="avatar-xs my-2">
            {% endfor %}
            <div class="flex wrap just-center text-small text-grey">
                {% for language in project.languages %}
                    {{ language.label }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
        <div class="container-white flex just-center align-center py-3 m-1 shadow-small project-container">
            <a href="{{ path('project_create') }}"><div class="all-add-project p-4">+</div></a>
        </div>
    </div>
{% endblock %}