{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}
    Tous les projets
    {% if user is defined %}
    de {{ user.firstname }} {{ user.lastname }}
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% block body %}
    <h1>
    Tous les projets
    {% if user is defined %}
    de {{ user.firstname }} {{ user.lastname }}
    {% endif %}
    </h1>
    <hr>
    <div class="bg-grey rounded p-2">
        {% if user is defined %}
        {% set projects = user.projects %}
        {% endif %}
        {% for project in projects %}
            <div class="container-white row  mx-0 mt-2">
                <div class="col-4 flex align-center">
                    <a href="{{ path('project_show',{'slug':project.slug}) }}" class="bold">{{ project.title }}</a>
                </div>
                <div class="col-4 flex align-center justify-content-end">
                    {% for user in project.users %}
                        <img src="/img/avatar/{{user.avatar}}" class="avatar-xs">
                    {% endfor %}
                </div>
                <div class="col-2 flex align-center">
                    <div class="status-blue mr-2"></div> en cours
                </div>
                <div class="col-2 flex align-center">
                    <em>Il y a 6 jours</em>
                </div>
            </div>
        {% else %}
            <div class="container-white mx-0 mt-2 text-center">
                <span class="bold">Cette section est vide.</span><br>
                <a href="{{ path('project_create') }}" class="btn button-see-task py-1 px-2 my-1">Créer un projet</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}