{% import 'macro.html.twig' as template %}

{% form_theme form _self 'jquery.collection.html.twig' %}


{% block body %}
    {{ form_start(form, {'action': path('project_edit_task',{'slug':project.slug,'id_task':task.id})}) }}
         <div class="flex just-between align-center">
                    <h2>Modifier une tache</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <hr>
                <div class="flex wrap">
                    <div class="w-33 task-info">
                        <div class="container-grey" >
                            <span class="bold">Info</span>
                            <div class="my-3">{{ form_widget(form.type) }}</div>
                            <div class="my-3">{{ form_widget(form.title, {'attr': {'maxlength': '50'}}) }}</div>
                            <div class="my-3">{{ form_widget(form.description, {'attr': {'rows': '8'}}) }}</div>
                            <div class="my-3">{{ form_widget(form.users, {'attr': {
                                'class': 'task-user-selected selectpicker',
                                'title': 'Apprenant(s) lié(s)',
                                'data-live-search': 'true',
                                'multiple': '',
                                'data-selected-text-format': 'count > 2',
                                'data-style': 'bg-white',
                                'data-size': '6'
                                }})  }}
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-66 task-subtask">
                        <span class="bold">Liste des sous-tâches</span>
                        <div class="mt-3">{{ form_widget(form.subtasks) }}</div>
                    </div>
                </div>
                <div class="my-3">{{ template.confirm() }}</div>
    {{ form_end(form) }}
{% endblock %}

{% block _edit_task_subtasks_entry_row %}
{{ form_widget(form) }}
{% endblock %}

{% block _edit_task_subtasks_entry_widget %}
<div class="flex wrap just-around align-center rounded task-add-subtask">
        <div>{{ form_widget(form.title) }}</div>
        {% if form.done is defined %}
        <div class="custom-control custom-switch text-center">
            {{ form_widget(form.done) }}
        </div>
        {% endif %}
</div>
{% endblock %}