{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Ajouter un nouveau projet{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/libraries/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau projet</h1>
    <hr>
    {{ form_start(form) }}
        <div class="project-new row mx-0">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="container-white shadow-small my-3 px-1 flex align-center project-new-title">
                    {{ form_widget(form.title, { 'attr': { 'maxlength' : 60 } }) }}
                    <div class="text-small text-grey w-25 carac">(60 carac. max)</div>
                </div>
                <div class="container-white shadow-small my-3">
                    {{ form_widget(form.users, {'attr': {
                        'class': 'project-user-selected selectpicker',
                        'title': 'Personne(s) liée(s) au projet',
                        'data-live-search': 'true',
                        'multiple': '',
                        'data-selected-text-format': 'count > 5',
                        'data-style': 'bg-white',
                        'data-size': '6'
                    }}) }}
                </div>
                <div class="container-white shadow-small px-1 my-3">
                    {{ form_widget(form.github) }}
                </div>
                <div class="container-white shadow-small px-1 my-3">
                    {{ form_widget(form.website) }}
                </div>
                <div class="container-white shadow-small px-1 my-3">
                    {{ form_widget(form.languages, {'attr': {
                        'class': 'language-selected selectpicker',
                        'title': 'Langage(s) du projet',
                        'data-live-search': 'true',
                        'multiple': '',
                        'data-selected-text-format': 'count > 2',
                        'data-style': 'bg-white',
                        'data-size': '6'
                    }}) }}
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="container-white shadow-small my-2 mt-3">
                    {{ form_widget(form.description, {'attr': {'maxlength': 500, 'rows': 12} }) }}
                    <div class="text-small text-grey carac">500 caractères max.</div>
                </div>
            </div>
            <div class="col-12 text-center my-2">
                {{ template.confirm()}}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block libraries %}
<script src="/js/libraries/bootstrap-select.min.js"></script>
{% endblock %}

{% block javascripts %}
<script>
$('.project-user-selected').selectpicker();
$('.language-selected').selectpicker();
</script>
{% endblock %}