{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}{{ project.title }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% form_theme form _self 'jquery.collection.html.twig' %}

{% block body %}
    {{ template.checkMessage(form) }}
    {{ template.checkMessage(formCorrect) }}

    <div class="px-5 project">
        <div class="flex just-between project-title">
            <h1>{{ project.title }}</h1>
            {% if is_granted('ROLE_FORMER') or project.moderator == app.user %}
            <a href="{{ path('project_edit',{'slug': project.slug}) }}" class="button-edit"><i class="fal fa-pen bold"></i></a>
            {% endif %}
        </div>

        <div class="text-grey project-description">{{ project.description|default('<em>Pas de description</em>')|raw }}</div>

        <div class="flex align-center mt-1 mb-2 project-members">
            {% for user in project.users|slice(0,4) %}
                <img src="https://randomuser.me/api/portraits/men/{{random(1,99)}}.jpg" class="avatar-xs my-2 border-0" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title='
                {# <img src="/img/avatar/{{user.avatar}}" class="avatar-xs my-2 border-0" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title=' #}
                {{ user.fullname }} <br>'>
            {% endfor %}
            {% if project.users|length > 4 %}
                <div class="avatar-xs my-2 ml-1 text-center text-small project-other-users" data-html="true" data-toggle="tooltip" data-placement="top" data-original-title='
                    {% for user in project.users|slice(4, project.users|length) %}
                        {{ user.fullname }}<br>
                    {% endfor %}
                '>+{{project.users|length - 4}}</div>
            {% endif %}
        </div>

        <div class="progress">
            <div class="progress-bar status-{{project.progresscolor(progress)}}" role="progressbar" style="width: {{progress}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="flex just-between">
            <div>
                {% if project.github != null %}
                    <a href="{{ project.github  }}" target="_blank" class="text-grey text-small"><i class="far fa-code-branch"></i> GitHub</a> &nbsp;
                {% endif %}
                {% if project.website != null %}
                    <a href="{{ project.website }}" target="_blank" class="text-grey text-small"><i class="far fa-eye"></i> Voir le site</a>
                {% endif %}
            </div>
            <div class="text-grey text-small">
                <span>{{ project.interval }}</span>
            </div>
        </div>

        <div class="container-grey flex wrap my-4">
            <div class="text-center text-small pointer w-33 py-2 project-nav active" data-project="task" onclick="projectPanel(this)">Tâches</div>
            <div class="text-center text-small pointer w-33 py-2 project-nav" data-project="detail" onclick="projectPanel(this)">Détail</div>
            <div class="text-center text-small pointer w-33 py-2 project-nav" data-project="activity" onclick="projectPanel(this)">Corrigés</div>
        </div>

        <hr>

        {{ include('project/_task.html.twig') }}
        {{ include('project/_detail.html.twig') }}
        {{ include('project/_activity.html.twig') }}

    </div>
{% endblock %}

{% block _task_subtasks_entry_row %}
{{ form_widget(form) }}
{% endblock %}

{% block _task_subtasks_entry_widget %}
<div class="flex wrap just-around align-center rounded task-add-subtask">
        <div>{{ form_widget(form.title) }}</div>
        <div class="custom-control custom-switch text-center">
            {{ form_widget(form.done) }}
        </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $('.task').collection({
            'up': '<a href="#" class="mx-1"><i class="fal fa-chevron-circle-up"></i></a>',
            'down': '<a href="#" class="mx-1"><i class="fal fa-chevron-circle-down"></i></a>',
            'remove': '<a href="#" class="mx-1 text-red"><i class="fal fa-times-circle"></i></a>',
            'add': '<button class="button-edit my-2 mx-auto d-block"><i class="fal fa-plus"></i></button>',
            'add_at_the_end': true
        });
    </script>
{% endblock %}

{% block libraries %}
<script src="/js/bootstrap-select.min.js"></script>
{% endblock %}

