{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
    {% if not form.vars.valid %}
        <div class="message warning">
            Il y a une ou plusieurs erreur(s) de saisie.
        </div>
    {% endif %}
    <h1>Ajouter un compte</h1>
    <hr>
    {{ form_start(form) }}

    <div class="grid-user">
        <div class="grid-user-info bg-grey rounded">
            <span class="bold">Informations personnelles</span>
            <div class="d-flex justify-content-around text-center mt-2 form-add-user-info">
                <div>
                    {{ form_label(form.firstname) }}<br>
                    {{ form_widget(form.firstname) }}
                </div>
                <div>
                    {{ form_label(form.lastname) }}<br>
                    {{ form_widget(form.lastname) }}
                </div>
                <div>
                    {{ form_label(form.email) }}<br>
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>

        <div class="grid-user-promo bg-grey rounded">
            <span class="bold mt-2">Information de connexion</span>
            <div class="mt-2">
                {{ form_label(form.password) }}<br>
                {{ form_widget(form.password) }}
            </div>
        </div>

        <div class="grid-user-supp bg-grey rounded">
            <span class="bold">Promotion</span>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-danger mt-3 mb-1 px-4">Ajouter</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
