{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}
{% block title %}Ajouter un utilisateur{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/user/main.css') }}">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <h1>Ajouter un utilisateur</h1>
    <hr>
    {{ form_start(form) }}

    <div class="flex flex-wrap">
        <div class="container-grey w-100 mb-2">
            <span class="bold">Informations personnelles</span>
            <div class="flex just-around text-center mt-2">
                <div>
                    {{ form_label(form.firstname) }}<br>
                    {{ form_widget(form.firstname) }}
                </div>
                <div>
                    {{ form_label(form.lastname) }}<br>
                    {{ form_widget(form.lastname) }}
                </div>
                <div>
                    {{ form_label(form.email) }}<br>
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>

        <div class="container-grey edit-user-pwd mb-2 mr-1">
            <span class="bold mt-2">Information de connexion</span>
            <div class="mt-2">
                {{ form_widget(form.password) }}
            </div>
        </div>

        <div class="container-grey edit-user-promo mb-2 ml-1">
            <span class="bold">Promotion</span>
            <div class="mt-2">
                {{ form_widget(form.promotion) }}
            </div>
        </div>

        <div class="container-grey w-100 mb-2">
            <span class="bold">Roles</span>
            <div class="mt-2">
                {{ form_widget(form.userRoles) }}
            </div>
        </div>
    </div>

    {{ template.confirm() }}

    {{ form_end(form) }}
{% endblock %}
