{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}
{% block title %}Modifier mon compte{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user.css">
{% endblock %}

{% block body %}
    {{ template.checkMessage(form) }}
    <div class="flex just-between align-center">
    <h1>Modifier mon compte</h1>
    {% if user == app.user %}
    <a href="{{ path('account_password') }}" class="button-edit"><i class="fal fa-user-lock"></i></a>
    {% endif %}
    </div>
    <hr>
    {{ form_start(form) }}

    <div class="grid-user bg-grey rounded p-2">
        <div class="grid-user-info bg-white rounded">
            <span class="bold">Informations personnelles</span>
            <div class="flex just-around text-center mt-2 form-add-user-info">
                <div>
                    {{ form_label(form.firstname) }}<br>
                    {{ form_widget(form.firstname) }}
                </div>
                <div>
                    {{ form_label(form.lastname) }}<br>
                    {{ form_widget(form.lastname) }}
                </div>
                <div>
                    {{ form_label(form.email) }}<br>
                    {{ form_widget(form.email) }}
                </div>
            </div>
        </div>

        <div class="grid-user-promo bg-white rounded">
            <span class="bold mt-2">Avatar</span>
            <div class="text-center my-5">
                <img src="/img/avatar/{{ user.avatar }}" class="bg-dark"></img>
            </div>
            {{ form_widget(form.avatar) }}
        </div>

        <div class="grid-user-supp bg-white rounded">
            <span class="bold">Informations supplémentaires</span>
            <div>{{ form_label(form.tel) }}</div>
            <div>{{ form_widget(form.tel) }}</div>
            <div>{{ form_label(form.zipcode) }}</div>
            <div>{{ form_widget(form.zipcode) }}</div>
            <div>{{ form_label(form.city) }}</div>
            <div>{{ form_widget(form.city) }}</div>
            <div>{{ form_label(form.website) }}</div>
            <div>{{ form_widget(form.website) }}</div>
            <div>{{ form_label(form.github) }}</div>
            <div>{{ form_widget(form.github) }}</div>
        </div>
    </div>

    {{ template.confirm() }}

    {{ form_end(form) }}
{% endblock %}
