{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}Modifier mon compte{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/user/main.css') }}">
{% endblock %}

{% block body %}
    {{ template.checkMessage(formUsr) }}
    {{ template.checkMessage(formPwd) }}
    {{ template.checkMessage(formImg) }}
    <h1>Modifier mon compte</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ form_start(formUsr) }}
            <div class="row container-white shadow-small">
                <div class="col-md-6 col-sm-12 my-2 ">
                    {{ form_label(formUsr.firstname) }}<br>
                    {{ form_widget(formUsr.firstname, {'attr' : {'maxlength' : '25'}}) }}
                </div>
                <div class="col-md-6 col-sm-12 my-2 ">
                    {{ form_label(formUsr.lastname) }}<br>
                    {{ form_widget(formUsr.lastname, {'attr' : {'maxlength' : '25'}}) }}
                </div>
                <div class="col-12 my-2 ">
                    {{ form_label(formUsr.email) }}<br>
                    {{ form_widget(formUsr.email) }}
                </div>
                <div class="col-12 my-2 ">
                    {{ form_label(formUsr.tel) }}<br>
                    {{ form_widget(formUsr.tel, {'attr' : {'maxlength' : '10'}}) }}
                </div>
                <div class="col-md-6 col-sm-12 my-2 ">
                    {{ form_label(formUsr.zipcode) }}<br>
                    {{ form_widget(formUsr.zipcode, {'attr' : {'maxlength' : '5'}}) }}
                </div>
                <div class="col-md-6 col-sm-12 my-2 ">
                    {{ form_label(formUsr.city) }}<br>
                    {{ form_widget(formUsr.city) }}
                </div>
                <div class="col-12 my-2 ">
                    {{ form_label(formUsr.website) }}<br>
                    {{ form_widget(formUsr.website) }}
                </div>
                <div class="col-12 my-2 ">
                    {{ form_label(formUsr.github) }}<br>
                    {{ form_widget(formUsr.github) }}
                </div>
                <div class="col-12">
                    {{ template.confirm() }}
                </div>
            </div>
            {{ form_end(formUsr) }}
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="container-white shadow-small text-center">
                {{ template.img('/img/avatar/'~user.avatar,'avatar-md','Avatar de '~user) }}
                <div class="flex just-center">
                {{ form_start(formImg) }}
                {{ form_widget(formImg) }}
                {{ template.confirm() }}
                {{ form_end(formImg) }}
                </div>
            </div>
            <div class="container-white shadow-small my-1">
                {{ form_start(formPwd) }}
                {{ form_widget(formPwd) }}
                {{ template.confirm() }}
                {{ form_end(formPwd) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}{% endblock %}
