{% extends 'base.html.twig' %}

{% import 'macro.html.twig' as template %}

{% block title %}{{ user }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/user/user.css">
<link rel="stylesheet" href="/css/user/queries.css">
<link rel="stylesheet" href="/css/training.css">
<link rel="stylesheet" href="/css/project.css">
{% endblock %}

{% block body %}
    <div class="flex wrap just-center w-100 my-2">
        <div class="container-white row mx-0 shadow-small w-50 user-container">
            <div class="col-lg-3 flexc just-around align-center text-center text-center">
                {{ template.img("/img/avatar/{{user.avatar}}", "avatar-md") }}
                <p>
                    {% if user.website != null %}
                    <a href="{{ user.website }}" class="text-red rhover" target="_blank"><i class="fal fa-globe text-center"></i></a>
                    {% else %}
                    <em><i class="fal fa-globe text-center"></i></em>
                    {% endif %}
                    &nbsp;
                    {% if user.github != null %}
                    <a href="{{ user.github }}" class="text-red rhover" target="_blank"><i class="fal fa-code-branch text-center"></i></a>
                    {% else %}
                    <em><i class="fal fa-code-branch text-center"></i></em>
                    {% endif %}
                </p>
            </div>
            <div class="col-lg-9 user-secondary-info">
                <span class="bold h4">{{ user }}</span><br>
                <ul>
                    <li class="mb-1"><i class="fal fa-envelope text-center"></i> {{ user.email }}</li>
                    <li class="mb-1">
                        <i class="fal fa-mobile-android text-center"></i>
                        {% if user.tel != null %}
                        {{ user.tel }}
                        {% else %}
                        <em>Pas de numéro de téléphone</em>
                        {% endif %}
                    </li>
                    <li class="mb-1">
                        <i class="far fa-map-marker-alt text-center"></i>
                        {% if user.zipcode != null or user.city != null %}
                        {{ user.zipcode }} {{ user.city }}
                        {% else %}
                        <em>Pas d'adresse</em>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" flex just-center align-center">
        <span class="rounded bg-red text-white px-2 py-1 bold mt-1 user-badge text-center">{{ user.promotion.label|default('Aucune promo') }}</span>
    </div>
    <div class="flex wrap just-around my-3">
        <div class="container-white shadow-small py-1 px-3 my-2 w-flex user-account-info">
            <div class="mt-2 rounded">
            {% for skill in user.userSkills %}
                {{ template.level(skill) }}
            {% endfor %}
            </div>
        </div>
        <div class="container-white shadow-small p-3 my-2 w-flex user-account-info">
            {% if user.projects is not empty %}
                {% for project in user.projects|slice(0,6) %}
                    <div class="flex just-between align-baseline">
                        <span>{{ project.title }}</span>
                        <a href="#" class="rhover"><i class="fal fa-arrow-circle-right"></i></a>
                    </div>
                    <hr>
                {% endfor %}
                {% if user.projects|length > 6 %}
                <div class="text-center mt-4">
                    <a href="{{ path('user_show_projects',{'slug':user.slug}) }}" class="user-see-more p-1">Voir tous</a>
                </div>
                {% endif %}
            {% else %}
                <div class="flex just-center align-center text-center bold h-100">
                    <p>
                        <i class="fal fa-times-hexagon icon-lg mb-2"></i><br>
                        Aucun projet en cours
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container-white shadow-small mx-2 user-datas flex wrap just-around align-center text-center bold">
        <div>
            <div class="avatar-md text-xlarge text-red mb-1 circle">{{ user.projects|length }}</div>
            <span>Projets</span>
        </div>
        <div>
            <div class="avatar-md text-xlarge text-red mb-1 circle">{{ user.projectsCompleted|length }}</div>
            <span>Terminés</span>
        </div>
        <div>
            <div class="avatar-md text-xlarge text-red mb-1 circle">{{ user.helps|length }}</div>
            <span>Aides</span>
        </div>
    </div>
    <div class="mt-4">
        <div class="text-center mx-2">
            <span class="bold">Portfolio</span>
            <hr>
        </div>
        <div class="flex wrap just-center">
            {% for project in user.projects %}
                <div class="container-white flex just-center align-center py-1 m-1 shadow-small text-center project-container">
                    <div>
                        <p><a href="{{ path('project_show',{'slug':project.slug}) }}" class="bold">{{ project.title }}</a></p>
                        <p class="text-small text-grey">
                            {% for language in project.languages %}
                                {{ language.label }}
                            {% endfor %}
                        </p>
                    </div>
                    {% if project.website is not null %}
                    <div class="position-absolute" style="transform: translateY(40px);">
                        <a href="{{project.website}}" class="text-grey bhover" target="_blank">
                            <i class="fal fa-globe" data-toggle="tooltip" data-placement="bottom" data-original-title='Visiter le site'></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}