{% extends 'base.html.twig' %}
{% import 'macro.html.twig' as template %}
{% block title %}Gestion des fichiers{% endblock %}

{% block stylesheets %}
<link href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.css" rel="stylesheet">
<link rel="stylesheet" href="/css/file.css">
{% endblock %}

{% form_theme form _self %}

{% block body %}
    <h1>Gestion des fichiers</h1>
    <hr>
    <div class="bg-grey rounded mt-2 p-2 d-flex show-files">
        <div>
            {% for ufiles in user.userFiles | reverse %}
                {% set file = ufiles.files %}
                <div class="bg-white p-3 mb-2 rounded d-flex justify-content-between align-items-center">
                    {% if ufiles.important == null %}
                    <div class="file-state"></div>
                    {% else %}
                    <div class="file-state bg-red"></div>
                    {% endif %}
                    <div class="file-info">
                        <p class="bold">{{ file.title }}</p>
                        <p style="font-size: .89em;">
                            <em>Envoyé
                            {% if ufiles.sender != null %}
                            par {{ ufiles.sender.firstname }} {{ ufiles.sender.lastname | upper }}
                            {% endif %}
                            le {{ ufiles.dateSend | date('d/m/Y à H:i') }}</em>
                        </p>
                    </div>
                    <i tabindex="0" class="fas fa-ellipsis-v subnav ml-2" data-toggle="popover" data-html="true" data-trigger="focus" data-placement="top"
                    data-modalid="{{ ufiles.id }}"
                    {% if ufiles.important %}
                    data-content='
                    <a href="{{ path('file_download',{'id': file.id}) }}" class="subnav-link">Télécharger</a><br>
                    <a href="{{ path('file_edit_status',{'id': ufiles.id}) }}" class="subnav-link">Marquer comme gérer</a>'
                    {% else %}
                    data-content='
                    <a href="{{ path('file_download',{'id': file.id}) }}" class="subnav-link">Télécharger</a><br>
                    {% endif %}
                    '></i>
                </div>
            {% else %}
            <span class="bold">Mes fichiers reçus</span>
            <div class="text-grey d-flex justify-content-center align-items-center text-center h-100 no-file">
                <p>
                    <i class="fal fa-folder-open"></i><br>
                    Aucun fichier reçu
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="bg-white p-3 mb-3 rounded">
            <p class="bold">Envoyer un fichier</p>
            <div>
                {{ form_start(form) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, { 'attr': { 'maxlength' : 60 } }) }}
                    <hr>
                    {% if is_granted('ROLE_MEDIATEUR') %}
                    {{ form_label(form.receiver) }}
                    {{ form_widget(form.receiver, { 'attr' : {'multiple' : 'multiple'}}) }}
                    <hr>
                    {% endif %}
                    {{ form_widget(form.name) }}
                    <div class="custom-control custom-switch text-center mt-4">
                    {{ form_widget(form.important) }}
                    </div>
                    {{ template.btnConfirm()}}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <hr>
    <div class="bg-grey rounded mt-2 p-2">
        <div class="d-flex justify-content-between">
            <span class="bold">Mes fichiers envoyés</span>
            {% if sending is not empty %}
            {{ template.linkModal('deletefiles','modal-button files-delete','Tout supprimer <i class="fal fa-times-circle"></i>') }}
            {% endif %}
        </div>
        {% for usend in sending | reverse%}
            {% set file = usend.files %}
            {{ template.delete(file.id, "file_delete", "Ce fichier sera supprimé définitivement et ne sera plus accessible par les autres utilisateurs.") }}
            <div class="bg-white p-3 my-2 rounded d-flex justify-content-between align-items-center">
                <div class="file-state"></div>
                <div class="file-info">
                    <p class="bold">{{ file.title }}</p>
                    <p class="file-user">
                        <em>Envoyé
                        {% if usend.sender != null %}
                        à {{ usend.receiver.firstname }} {{ usend.receiver.lastname | upper }}
                        {% endif %}
                        le {{ usend.dateSend | date('d/m/Y à H:i') }}</em>
                    </p>
                </div>
                <i tabindex="0" class="fas fa-ellipsis-v subnav ml-2" data-toggle="popover" data-html="true" data-trigger="focus" data-placement="top"
                data-modalid="{{ file.id }}" data-content='
                <a href="{{ path('file_download',{'id': file.id}) }}" class="subnav-link">Télécharger</a><br>
                <a class="modal-button delete subnav-link text-red">Supprimer</a>'></i>
            </div>
        {% else %}
            <div class="text-grey d-flex justify-content-center align-items-center text-center no-file">
                <p class="my-5">
                    <i class="far fa-times-circle"></i><br>
                    Aucun fichier envoyé
                </p>
            </div>
        {% endfor %}
    </div>

    <div id="myModal" class="modal" data-modalid="deletefiles">
        <div class="modal-content">
            <div class="close-modal text-right">&times;</div>
            <div class="mb-4 w-75 mx-auto">
                <h2>Confirmation de suppression</h2>
                <hr>
                <div class="text-center mb-4">
                    <p>Ces fichiers seront supprimés définitivement et ne seront plus accessibles par les autres utilisateurs.</p>
                    <b>Êtes-vous sur de vouloir supprimer ces éléments ? </b><br>
                    <a href="{{ path('file_delete_all') }}">
                        <button type="submit" class="bg-red text-white button-circle mt-3">&#10004;</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block libraries %}
<script src="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.js"></script>
{% endblock %}