{% for user in users %}
    <div class="flex just-between align-center users-weather w-100">
        <span>{{ user.firstname }} {{ user.lastname|first}}.</span>
        {{ user.weatherIconXs|raw }}
    </div>
        <div class="flex just-between align-center users-weather w-100">
        <span>{{ user.firstname }} {{ user.lastname|first}}.</span>
        {{ user.weatherIconXs|raw }}
    </div>
        <div class="flex just-between align-center users-weather w-100">
        <span>{{ user.firstname }} {{ user.lastname|first}}.</span>
        {{ user.weatherIconXs|raw }}
    </div>
{% else %}
    <div class="text-center text-grey">Pas de météo pour le moment...</div>
{% endfor %}